/*!
 *  Intuit - qb-call-in-action-floating-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-chapter-banner-component .description p a:hover,.qb-wrapper .qb-chapter-banner-component .side-right ul li a:hover{text-decoration:underline}#close-video-modal,#to-video-modal,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content a:focus,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content a:hover,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media.video:focus,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media.video:hover{cursor:pointer}.qb-wrapper .h-ellipsis,.qb-wrapper .qb-guide-list-component ul li a{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}/*!
 *  Intuit - qb-post-banner-component 
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-call-in-action-component .qb-post-banner-component .description button,.qb-wrapper .qb-call-in-action-component .qb-post-banner-component .description input[type=submit],.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating .qb-post-banner-component .description button,.qb-wrapper .qb-guide-deduction-component .topic-title .qb-post-banner-component .description a,.qb-wrapper .qb-post-banner-component .description .qb-button,.qb-wrapper .qb-post-banner-component .description .qb-call-in-action-component button,.qb-wrapper .qb-post-banner-component .description .qb-call-in-action-component input[type=submit],.qb-wrapper .qb-post-banner-component .description .qb-float-component .col-md-3 .qb-call-in-action-component.floating button,.qb-wrapper .qb-post-banner-component .description .qb-guide-deduction-component .topic-title a{display:none}/*!
 *  Intuit - qb-post-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-chapter-banner-component .description p a,.qb-wrapper .qb-chapter-banner-component .side-right ul li a{color:#0076c5}/*!
 *  Intuit - .qb-post-keep-component 
 *
 *  (10/12/2016)
 *//*!
 *  Intuit - .qb-post-popular-component
 *
 *  (10/12/2016)
 *//*!
 *  Intuit - qb-post-related-component
 *
 *  (10/12/2016)
 *//*!
 *  Intuit - qb-guide-deduction-component.scss
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-button:hover,.qb-wrapper .qb-call-in-action-component button:hover,.qb-wrapper .qb-call-in-action-component input[type=submit]:hover,.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating button:hover,.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating input[type=submit]:hover,.qb-wrapper .qb-guide-deduction-component .topic-title a:hover{background:#2ca01c}@media print{.qb-wrapper .qb-chapter-banner-component .description,.qb-wrapper .qb-post-banner-component .description{padding-bottom:initial!important;min-height:auto!important}.break,.qb-grid-wrapper,.qb-related-guide-component{page-break-inside:avoid}.print-hidden,.qb-call-in-action-component,.qb-call-in-action-reference,.qb-post-popular-component,footer,header{display:none!important;visibility:hidden;height:0!important;overflow:hidden}*{-webkit-print-color-adjust:exact}.qb-wrapper{width:500px;margin:0 auto}.qb-wrapper .container{zoom:.55}a[href]:after{display:none}.qb-grid-wrapper{zoom:.92;margin:0 auto}.qb-taxonomy-grid-wrapper{zoom:.92}.qb-wrapper .qb-author-banner-component .container-graphic .graphic{width:185px!important}.qb-wrapper .qb-related-guide-component .row .section{min-height:auto;margin-bottom:50px}.qb-wrapper .qb-related-guide-component .row .section .description{min-height:auto}}/*!
 *  Intuit - fonts
 *
 *  (10/12/2016)
 *//*!
 *  Intuit - fonts
 *
 *  (10/12/2016)
 */@font-face{font-family:AvenirNextRegular;src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Rg_web.eot);src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Rg_web.eot?#iefix) format("embedded-opentype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Rg_web.woff2) format("woff2"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Rg_web.woff) format("woff"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Rg_web.ttf) format("truetype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Rg_web.svg#svgFontName) format("svg")}@font-face{font-family:AvenirNextRegularItalic;src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Itali_web.eot);src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Itali_web.eot?#iefix) format("embedded-opentype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Itali_web.woff2) format("woff2"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Itali_web.woff) format("woff"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Itali_web.ttf) format("truetype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Itali_web.svg#svgFontName) format("svg")}@font-face{font-family:AvenirNextMedium;src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Mediu_web.eot);src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Mediu_web.eot?#iefix) format("embedded-opentype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Mediu_web.woff2) format("woff2"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Mediu_web.woff) format("woff"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Mediu_web.ttf) format("truetype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Mediu_web.svg#svgFontName) format("svg")}@font-face{font-family:AvenirNextMediumItalic;src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Md_It_web.eot);src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Md_It_web.eot?#iefix) format("embedded-opentype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Md_It_web.woff2) format("woff2"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Md_It_web.woff) format("woff"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Md_It_web.ttf) format("truetype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Md_It_web.svg#svgFontName) format("svg")}@font-face{font-family:AvenirNextThin;src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Thin_web.eot);src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Thin_web.eot?#iefix) format("embedded-opentype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Thin_web.woff2) format("woff2"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Thin_web.woff) format("woff"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Thin_web.ttf) format("truetype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Thin_web.svg#svgFontName) format("svg")}@font-face{font-family:AvenirNextThinItalic;src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Th_Il_web.eot);src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Th_Il_web.eot?#iefix) format("embedded-opentype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Th_Il_web.woff2) format("woff2"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Th_Il_web.woff) format("woff"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Th_Il_web.ttf) format("truetype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Th_Il_web.svg#svgFontName) format("svg")}@font-face{font-family:AvenirNextDemi;src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Demi_web.eot);src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Demi_web.eot?#iefix) format("embedded-opentype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Demi_web.woff2) format("woff2"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Demi_web.woff) format("woff"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Demi_web.ttf) format("truetype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Demi_web.svg#svgFontName) format("svg")}@font-face{font-family:AvenirNextDemiItalic;src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Dm_It_web.eot);src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Dm_It_web.eot?#iefix) format("embedded-opentype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Dm_It_web.woff2) format("woff2"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Dm_It_web.woff) format("woff"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Dm_It_web.ttf) format("truetype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Dm_It_web.svg#svgFontName) format("svg")}@font-face{font-family:AvenirNextBold;src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Bold_web.eot);src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Bold_web.eot?#iefix) format("embedded-opentype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Bold_web.woff2) format("woff2"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Bold_web.woff) format("woff"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Bold_web.ttf) format("truetype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Bold_web.svg#svgFontName) format("svg")}@font-face{font-family:AvenirNextBoldItalic;src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Bd_It_web.eot);src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Bd_It_web.eot?#iefix) format("embedded-opentype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Bd_It_web.woff2) format("woff2"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Bd_It_web.woff) format("woff"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Bd_It_web.ttf) format("truetype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Bd_It_web.svg#svgFontName) format("svg")}@font-face{font-family:AvenirNextHeavy;src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Heavy_web.eot);src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Heavy_web.eot?#iefix) format("embedded-opentype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Heavy_web.woff2) format("woff2"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Heavy_web.woff) format("woff"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Heavy_web.ttf) format("truetype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Heavy_web.svg#svgFontName) format("svg")}@font-face{font-family:AvenirNextHeavyItalic;src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Hv_It_web.eot);src:url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Hv_It_web.eot?#iefix) format("embedded-opentype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Hv_It_web.woff2) format("woff2"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Hv_It_web.woff) format("woff"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Hv_It_web.ttf) format("truetype"),url(/content/themes/sbc2/resources/assets/fonts/AvenirNext_forINTUIT_W05_Hv_It_web.svg#svgFontName) format("svg")}@font-face{font-family:GrotesqueMedium;src:url(/content/themes/sbc2/resources/assets/fonts/GeogrotesqueW03-Medium.eot);src:url(/content/themes/sbc2/resources/assets/fonts/GeogrotesqueW03-Medium.eot?#iefix) format("embedded-opentype"),url(/content/themes/sbc2/resources/assets/fonts/GeogrotesqueW03-Medium.woff2) format("woff2"),url(/content/themes/sbc2/resources/assets/fonts/GeogrotesqueW03-Medium.woff) format("woff"),url(/content/themes/sbc2/resources/assets/fonts/GeogrotesqueW03-Medium.ttf) format("truetype"),url(/content/themes/sbc2/resources/assets/fonts/GeogrotesqueW03-Medium.svg#svgFontName) format("svg")}@font-face{font-family:GrotesqueSemiBold;src:url(/content/themes/sbc2/resources/assets/fonts/GeogrotesqueW03-SemiBold.eot);src:url(/content/themes/sbc2/resources/assets/fonts/GeogrotesqueW03-SemiBold.eot?#iefix) format("embedded-opentype"),url(/content/themes/sbc2/resources/assets/fonts/GeogrotesqueW03-SemiBold.woff2) format("woff2"),url(/content/themes/sbc2/resources/assets/fonts/GeogrotesqueW03-SemiBold.woff) format("woff"),url(/content/themes/sbc2/resources/assets/fonts/GeogrotesqueW03-SemiBold.ttf) format("truetype"),url(/content/themes/sbc2/resources/assets/fonts/GeogrotesqueW03-SemiBold.svg#svgFontName) format("svg")}@-moz-document url-prefix(){.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item h4,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item p,.v-ellipsis{position:relative;overflow:hidden}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item h4:after,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item p:after,.v-ellipsis:after{content:"";text-align:right;position:absolute;bottom:0;right:0;width:15%;height:1.2em;background:linear-gradient(to right,rgba(255,255,255,0),#fff 50%)}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item h4{height:2.4em}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item p{height:3.9em}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item h4,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item p{height:auto}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item h4:after,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item p:after{background:0 0!important}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item h4,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item p,.qb-wrapper .qb-related-guide-component .row .section .description h2 a,.qb-wrapper .qb-related-guide-component .row .section .description p,.qb-wrapper .v-ellipsis{position:relative}.qb-wrapper .qb-related-guide-component .row .section .description p{height:5.9em;position:relative}.qb-wrapper .qb-related-guide-component .row .section .description h2 a{position:relative;height:3.2em}.qb-wrapper .qb-related-guide-component .row .section .description h2 a::after,.qb-wrapper .qb-related-guide-component .row .section .description p::after,.qb-wrapper .qb-related-guide-component .row .section .description.guide-page h2 a::after,.qb-wrapper .qb-related-guide-component .row .section .description.guide-page p::after{background:linear-gradient(to right,rgba(255,255,255,0),#ecedf0 50%)}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-content .taxonomy-text p{position:relative;height:3.9em}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item:hover .qb-taxonomy-content .taxonomy-text p:after{background:linear-gradient(to right,rgba(255,255,255,0),#d4d7dc 50%)}@media only screen and (max-width:767px){.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item h4{height:3em}}}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item h4,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item p,.v-ellipsis{position:relative;overflow:hidden}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item h4:after,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item p:after,.v-ellipsis:after{content:"";text-align:right;position:absolute;bottom:0;right:0;width:15%;height:1.2em;background:linear-gradient(to right,rgba(255,255,255,0),#fff 50%)}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item h4{height:2.4em}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item p{height:3.9em}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item h4,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item p{height:auto}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item h4:after,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item p:after{background:0 0!important}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item h4,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item p,.qb-wrapper .qb-related-guide-component .row .section .description h2 a,.qb-wrapper .qb-related-guide-component .row .section .description p,.qb-wrapper .v-ellipsis{position:relative}.qb-wrapper .qb-related-guide-component .row .section .description p{height:5.9em;position:relative}.qb-wrapper .qb-related-guide-component .row .section .description h2 a{position:relative;height:2.4em}.qb-wrapper .qb-related-guide-component .row .section .description.guide-page h2 a::after,.qb-wrapper .qb-related-guide-component .row .section .description.guide-page p::after{background:linear-gradient(to right,rgba(255,255,255,0),#ecedf0 50%)}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-content .taxonomy-text p{position:relative;height:3.9em}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item:hover .qb-taxonomy-content .taxonomy-text p:after{background:linear-gradient(to right,rgba(255,255,255,0),#d4d7dc 50%)}}/*!
 *  Intuit - qb-author-banner-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-author-banner-component .description ul,.qb-wrapper .qb-list-horizontal{display:inline-block;padding:0}.qb-wrapper .qb-author-banner-component .description ul li,.qb-wrapper .qb-list-horizontal li{display:inline-block}.qb-wrapper .qb-author-banner-component{background:#fff;padding:60px 0 54px}.qb-wrapper .qb-author-banner-component .description h1{font-size:44px;margin:0}.qb-wrapper .qb-author-banner-component .description p{font-size:19px;margin:20px 0 0}.qb-wrapper .qb-author-banner-component .description ul{margin:20px 0 0}.qb-wrapper .qb-author-banner-component .description ul li a{font-size:25px}.qb-wrapper .qb-author-banner-component .container-graphic{width:84%;margin-top:10px}.qb-wrapper .qb-author-banner-component .container-graphic .graphic{border-radius:50%;width:100%;height:170px}@media only screen and (max-width:767px){.qb-wrapper .qb-author-banner-component .description .fa{font-size:1.1em}.qb-wrapper .qb-author-banner-component .container-graphic{width:220px;border-radius:50%;margin:10px auto}.qb-wrapper .qb-author-banner-component .container-graphic .graphic{border-radius:50%;width:100%;height:170px}}/*!
 *  Intuit - qb-chapter-banner-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-chapter-banner-component .description h1,.qb-wrapper .qb-space-top-lg{padding:60px 0 0;margin:0}.qb-wrapper .qb-chapter-banner-component .description p,.qb-wrapper .qb-space-top-sm{padding:20px 0 0;margin:0}.qb-wrapper .qb-chapter-banner-component .description ul,.qb-wrapper .qb-list-horizontal{display:inline-block;padding:0}.qb-wrapper .qb-chapter-banner-component .description ul li,.qb-wrapper .qb-list-horizontal li{display:inline-block}.qb-wrapper .qb-chapter-banner-component{background:#fff}.qb-wrapper .qb-chapter-banner-component .description{position:relative;padding-bottom:74px;min-height:340px}.qb-wrapper .qb-chapter-banner-component .description h1{font-size:44px}.qb-wrapper .qb-chapter-banner-component .description p{font-size:19px}.qb-wrapper .qb-chapter-banner-component .description ul{position:absolute;width:100%;height:auto;bottom:40px;margin:0}.qb-wrapper .qb-chapter-banner-component .description ul li{margin-right:2px}.qb-wrapper .qb-chapter-banner-component .description ul li i{font-size:20px}.qb-wrapper .qb-chapter-banner-component .side-right{position:relative;line-height:2;padding-top:60px}.qb-wrapper .qb-chapter-banner-component .side-right .graphic{background-position:top center;background-size:cover;height:190px;width:100%;margin:0 auto}.qb-wrapper .qb-chapter-banner-component .side-right ul{position:absolute;display:inline-block;width:100%;padding:0;margin:0;top:260px;text-align:center;bottom:20px}.qb-wrapper .qb-chapter-banner-component .side-right ul li{display:inline-block}.qb-wrapper .qb-chapter-banner-component .side-right ul li:first-child{margin-right:10px}@media only screen and (max-width:768px){.qb-wrapper .qb-chapter-banner-component .description{min-height:auto;padding-bottom:20px}.qb-wrapper .qb-chapter-banner-component .side-right{padding-top:0}.qb-wrapper .qb-chapter-banner-component .side-right ul{top:0;position:inherit;padding-top:30px;padding-bottom:20px}.qb-wrapper .qb-chapter-banner-component .description ul,.qb-wrapper .qb-chapter-banner-component .qb-list-horizontal{font-size:35px}}@media only screen and (min-width:768px) and (max-width:991px){.qb-wrapper .qb-chapter-banner-component .description{min-height:290px;padding-bottom:20px}.qb-wrapper .qb-chapter-banner-component .description ul,.qb-wrapper .qb-chapter-banner-component .qb-list-horizontal{font-size:35px;position:absolute;bottom:30px}}/*!
 *  Intuit - qb-chapter-next-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-chapter-next-component .qb-title-next{text-transform:uppercase;margin-bottom:30px;color:#8d9096;font-size:.9em}.qb-wrapper .qb-chapter-next-component .qb-chapters-list{padding:30px 0 60px;border-top:1px solid #d4d7dc;border-bottom:1px solid #d4d7dc}.qb-wrapper .qb-chapter-next-component .qb-chapters-list .tags{position:relative}.qb-wrapper .qb-chapter-next-component .qb-chapters-list .tags .title{font-size:15px;position:absolute;top:5px}.qb-wrapper .qb-chapter-next-component .qb-chapters-list .tags .counter{position:absolute;top:15px;left:10px;color:#2ca01c;font-size:44px;font-family:GrotesqueMedium}.qb-wrapper .qb-chapter-next-component .qb-chapters-list .arrow .fa{text-align:right;font-size:5em;margin:20px 0 0}.qb-wrapper .qb-chapter-next-component .qb-chapters-list .arrow a{display:block;margin-top:70px;width:18px;height:33px;float:right;padding-right:28px}.qb-wrapper .qb-chapter-next-component .qb-chapters-list .arrow a .arrow-container{width:18px;height:33px;background-image:url(../img/arrow_next_chapter.png)}.qb-wrapper .qb-chapter-next-component .qb-chapters-list .summary{min-height:75px}.qb-wrapper .qb-chapter-next-component .qb-chapters-list .summary a{color:#0076c5;font-size:19px;display:block;text-decoration:none;-webkit-transition:text-decoration 1s;transition:text-decoration 1s}.qb-wrapper .qb-chapter-next-component .qb-chapters-list .summary a:hover{text-decoration:underline}.qb-wrapper .qb-chapter-next-component .qb-chapters-list .summary span{font-size:15px;display:block;color:#babec5}.qb-wrapper .qb-chapter-next-component .qb-chapters-list .summary p{margin:0;font-size:19px}@media only screen and (max-width:991px){.qb-wrapper .qb-chapter-next-component .qb-chapters-list .tags .title,.qb-wrapper .qb-guide-list-component,.qb-wrapper .qb-guide-sign-up-holder{display:none}.qb-wrapper .qb-chapter-next-component{border-top:0;border-bottom:0}.qb-wrapper .qb-chapter-next-component p{line-height:1.5}.qb-wrapper .qb-chapter-next-component .qb-chapters-list{border-top:0;border-bottom:0;padding:20px 0;margin-left:-15px;margin-right:-15px;background:#f4f5f8}.qb-wrapper .qb-chapter-next-component .qb-chapters-list .tags .counter{top:-20px;left:15px;font-size:2.8em}}/*!
 *  Intuit - qb-chapters-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-chapters-component .qb-chapters-list,.qb-wrapper .qb-space-top-md{padding:40px 0 0;margin:0}.qb-wrapper .qb-chapters-component .qb-chapters-breadcrumb,.qb-wrapper .qb-space-top-sm{padding:20px 0 0;margin:0}.qb-wrapper .qb-chapters-component .qb-chapters-breadcrumb ul,.qb-wrapper .qb-list-horizontal{display:inline-block;padding:0}.qb-wrapper .qb-chapters-component .qb-chapters-breadcrumb ul li,.qb-wrapper .qb-list-horizontal li{display:inline-block}.qb-wrapper .qb-chapters-component .qb-chapters-breadcrumb ul{display:inline-block;font-size:15px;margin:0}.qb-wrapper .qb-chapters-component .qb-chapters-breadcrumb ul li{margin-right:15px}.qb-wrapper .qb-chapters-component .qb-chapters-list ul{list-style:none;padding:0;margin:0}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li{position:relative;border-top:1px solid #babec5;padding-top:20px;padding-bottom:20px}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li .counter{position:absolute;color:#2ca01c;width:75px;font-size:36px;font-family:GrotesqueMedium;top:10px;text-align:right;left:-28px}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li .summary{padding-left:65px;top:20px;min-height:55px}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li .summary a{color:#0076c5;font-family:AvenirNextMedium;font-size:19px;display:inline;text-decoration:none;-webkit-transition:text-decoration 1s;transition:text-decoration 1s}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li .summary a:hover{text-decoration:underline}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li .summary span{font-size:15px;display:inline;color:#babec5}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li .summary p{margin:0;font-size:19px;clear:both}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li:first-child{border-top:0;padding-top:0}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li:last-child{border-bottom:1px solid #babec5}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li:first-child .counter{top:-10px}@media only screen and (max-width:767px){.qb-wrapper .qb-chapters-component .qb-chapters-breadcrumb{font-size:19px;color:#babec5}.qb-wrapper .qb-chapters-component .qb-chapters-list{padding:40px 0 0}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li{border-top:0;border-bottom:0!important}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li .summary{padding-left:55px}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li .summary a{float:none;display:block}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li .summary span{display:block}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li .summary .counter{font-size:2.2em;margin-top:-10px}.qb-wrapper .qb-chapters-component .qb-chapters-list ul li .summary:last-child{border-bottom:0!important}}footer .qb-ft-footer .qb-ft-footer-container .qb-content-description p,footer .qb-ft-footer .qb-ft-footer-container .qb-social-media{display:inline-block}/*!
 *  Intuit - qb-call-in-action-black-component for mobile
 *
 *  (10/12/2016)
 *//*!
 *  Intuit - qb-call-in-action-grey-component for tablet
 *
 *  (10/12/2016)
 *//*!
 *  Intuit - qb-call-in-action-floating-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-call-in-action-component,.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating,.qb-wrapper .qb-space-sm{padding:20px;margin:0}.qb-wrapper .qb-button,.qb-wrapper .qb-button-base,.qb-wrapper .qb-button-inverse,.qb-wrapper .qb-button-secondary,.qb-wrapper .qb-call-in-action-component button,.qb-wrapper .qb-call-in-action-component input[type=submit],.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating button,.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating input[type=submit]{border:0;border-radius:4px;font-size:15px;font-family:AvenirNextDemi;padding:6px 16px;-webkit-transition:background .5s;transition:background .5s;color:#fff}.qb-wrapper .qb-button,.qb-wrapper .qb-call-in-action-component button,.qb-wrapper .qb-call-in-action-component input[type=submit],.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating button,.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating input[type=submit]{background:#108000}.qb-wrapper .qb-button:hover,.qb-wrapper .qb-call-in-action-component button:hover,.qb-wrapper .qb-call-in-action-component input[type=submit]:hover,.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating button:hover,.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating input[type=submit]:hover{background:#2ca01c}.qb-wrapper .qb-call-in-action-component input[type=text],.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating input[type=text],.qb-wrapper .qb-input-text{height:30px;font-size:15px;border:1px solid #393a3d;padding:0 5px;border-radius:4px;width:100%;color:#393a3d}.qb-wrapper .qb-call-in-action-component,.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating{background:#494c53;color:#fff;width:100%;margin-top:20px;z-index:999;opacity:1;-webkit-transition:opacity .5s,margin-right .5s,margin-top .4s;transition:opacity .5s,margin-right .5s,margin-top .4s}.qb-wrapper .qb-call-in-action-component .graphic,.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating .graphic{background-position:top center;background-size:cover;height:61px;width:100%;margin:20px auto}.qb-wrapper .qb-call-in-action-component h3,.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating h3{color:#fff;font-family:AvenirNextRegular}.qb-wrapper .qb-call-in-action-component p,.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating p{margin:10px 0 0;font-size:15px;color:#fff}.qb-wrapper .qb-call-in-action-component button,.qb-wrapper .qb-call-in-action-component input[type=submit],.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating button,.qb-wrapper .qb-float-component .col-md-3 .qb-call-in-action-component.floating input[type=submit]{margin-top:16px}.qb-wrapper .qb-float-component .col-md-9{min-height:500px}.qb-wrapper .qb-float-component.guide .qb-call-in-action-reference{height:73px}@media only screen and (min-width:320px) and (max-width:480px){.qb-wrapper .qb-call-in-action-component.floating .graphic,.qb-wrapper .qb-float-component .col-md-3 .floating.qb-call-in-action-component .graphic{min-height:130px}}@media only screen and (min-width:481px) and (max-width:767px){.qb-wrapper .qb-call-in-action-component.floating,.qb-wrapper .qb-float-component .col-md-3 .floating.qb-call-in-action-component{padding:3% 30%}.qb-wrapper .qb-call-in-action-component.floating .graphic,.qb-wrapper .qb-float-component .col-md-3 .floating.qb-call-in-action-component .graphic{min-height:130px}}/*!
*  Intuit - qb-grid-component
*
*  (10/27/2016)
*/footer .qb-ft-footer{width:100%;height:65px;padding:5px 0 14px;background:#fff;border-top:1px solid #d4d7dc;position:fixed;bottom:0;z-index:10}footer .qb-ft-footer .qb-ft-footer-container{margin:0 auto;padding:10px 10px 0}footer .qb-ft-footer .qb-ft-footer-container .qb-content-description{display:inline-block;float:right}footer .qb-ft-footer .qb-ft-footer-container .qb-content-description .qb-button-secondary{border:0;border-radius:4px;font-size:15px;font-family:AvenirNextDemi;padding:6px 16px;-webkit-transition:background .5s;transition:background .5s;color:#fff;background:#393a3d!important;margin-left:20px}footer .qb-ft-footer .qb-ft-footer-container .qb-content-description .qb-button-secondary:hover{background:#000!important}footer .qb-ft-footer .qb-ft-footer-container .qb-content-description span{padding-right:17px}footer .qb-ft-footer .qb-ft-footer-container .qb-social-media ul{width:100%;height:auto;margin:0}footer .qb-ft-footer .qb-ft-footer-container .qb-social-media ul li{float:left;margin-right:8px}footer .qb-ft-footer .qb-ft-footer-container .qb-social-media ul li a{color:#393a3d}footer .qb-ft-footer .qb-ft-footer-container .qb-social-media ul li a i{font-size:20px}footer .qb-ft-footer .qb-ft-footer-container .qb-social-media ul li a:hover{color:#000}@media only screen and (min-width:768px) and (max-width:1024px){footer .qb-ft-footer{padding:5px 15px 14px}footer .qb-ft-footer .qb-ft-footer-container{padding-left:30px;padding-right:30px}}@media only screen and (min-width:320px) and (max-width:767px){footer .qb-ft-footer{padding:5px 15px 14px}footer .qb-ft-footer .qb-ft-footer-container{padding-left:15px;padding-right:15px}footer .qb-ft-footer .qb-ft-footer-container .qb-social-media{vertical-align:top;margin-top:10px}footer .qb-ft-footer .qb-ft-footer-container .qb-content-description p:first-child{display:none}}/*!
 *  Intuit - qb-footer-contact
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-footer-contact{color:#fff;font-family:AvenirNextRegular;background:#393a3d;font-size:15px;line-height:1.2em;padding:25px 0 55px}.qb-wrapper .qb-footer-contact #isearch{position:relative;width:218px;height:30px;display:inline-block;float:left}.qb-wrapper .qb-footer-contact #isearch #search_term{position:absolute;padding:5px 32px 5px 10px;width:100%;font-size:12px;color:#000;border-radius:2px;border:0;font-style:normal}.qb-wrapper .qb-footer-contact #isearch #searchSubmitButton{position:absolute;background:0 0;border:0;top:3px;right:0;color:#000}.qb-wrapper .qb-footer-contact #isearch #searchSubmitButton .fa{font-size:1.3em}.qb-wrapper .qb-footer-contact .qb-list-horizontal{float:left;margin:8px 0 0 15px}.qb-wrapper .qb-footer-contact .qb-list-horizontal li{color:#d4d7dc;margin-right:15px}.qb-wrapper .qb-footer-contact .qb-list-horizontal li:last-child{margin-right:0}.qb-wrapper .qb-footer-contact .qb-list-horizontal li a{color:#d4d7dc;margin-right:15px;font-size:12px}.qb-wrapper .qb-footer-contact .qb-list-horizontal li a:hover{color:#fff;text-decoration:underline}.qb-wrapper .qb-footer-contact .qb-list-horizontal li:last-child a{margin-right:0}.qb-wrapper .qb-footer-contact .qb-select-country{color:#d4d7dc;font-size:12px;line-height:1.3em;float:right;margin-top:10px}.qb-wrapper .qb-footer-contact .qb-select-country img{float:left;margin-right:5px;margin-top:-8px}.qb-wrapper .qb-footer-contact .qb-select-country:hover{color:#fff;text-decoration:underline}@media only screen and (max-width:767px){.qb-wrapper .qb-footer-contact{padding:25px 0 45px}.qb-wrapper .qb-footer-contact .qb-select-country{text-align:center;font-size:.7em;float:initial;width:165px;margin:0 auto;display:block;padding-top:34px}.qb-wrapper .qb-footer-contact .qb-select-country:hover{color:#fff;text-decoration:underline}}@media only screen and (max-width:991px) and (min-width:768px){.qb-wrapper .qb-footer-contact .container{position:relative}.qb-wrapper .qb-footer-contact .container .qb-list-horizontal{position:absolute;top:40px;left:-5px}}.qb-wrapper .qb-footer-legal .qb-footer-legal-links,.qb-wrapper .qb-footer-list{width:100%;display:inline-block;padding:0;margin:19px 0 30px}.qb-wrapper .qb-footer-legal .qb-footer-legal-links li,.qb-wrapper .qb-footer-list li{display:inline-block;margin-right:12px}.qb-wrapper .qb-footer-legal .qb-footer-legal-links li:last-child,.qb-wrapper .qb-footer-list li:last-child{margin-right:0}.qb-wrapper .qb-footer-legal .qb-footer-legal-links li a,.qb-wrapper .qb-footer-list li a{color:#fff;padding-right:15px}.qb-wrapper .qb-footer-legal .qb-footer-legal-links li:last-child>a,.qb-wrapper .qb-footer-list li:last-child>a{padding-right:0}.qb-wrapper .qb-footer-legal{color:#fff;font-family:AvenirNextRegular;background:#0077c5;min-height:240px;padding-top:58px;padding-bottom:60px;font-size:12px;line-height:1.2em}.qb-wrapper .qb-footer-legal img{padding-bottom:38px}.qb-wrapper .qb-footer-legal h4{font-family:AvenirNextDemi;line-height:1.6em;font-size:12px}.qb-wrapper .qb-footer-legal p{margin:0;font-size:12px;color:#fff}.qb-wrapper .qb-footer-legal .qb-footer-legal-links{text-align:right}/*!
 *  Intuit - qb-footer-summary
 *
 *  (10/12/2016)
 */@media only screen and (max-width:767px){.qb-wrapper .qb-footer-legal{padding-top:50px;text-align:center;padding-bottom:70px}.qb-wrapper .qb-footer-legal img{padding-bottom:45px}.qb-wrapper .qb-footer-legal h4{font-size:1.2em;line-height:1.2em}.qb-wrapper .qb-footer-legal p{font-size:1.1em}.qb-wrapper .qb-footer-legal ul{text-align:center;padding:0 0 50px;margin:0;font-size:15px}.qb-wrapper .qb-footer-legal .qb-logo-truste{padding-top:50px;display:block}}.qb-wrapper .qb-footer-summary{color:#fff;font-family:AvenirNextRegular;background:#393a3d;min-height:240px;padding-top:58px;font-size:15px;line-height:1.2em}.qb-wrapper .qb-footer-summary .container{border-bottom:1px solid #d4d7dc;padding-bottom:20px}.qb-wrapper .qb-footer-summary .container .links h5{font-size:15px;margin-bottom:10px}.qb-wrapper .qb-footer-summary .container .links ul{padding:0;margin:0;list-style:none}.qb-wrapper .qb-footer-summary .container .links ul li{line-height:1.5}.qb-wrapper .qb-footer-summary .container .links ul li a{color:#d4d7dc;font-size:12px}.qb-wrapper .qb-footer-summary .container .links ul li a:hover{color:#fff;text-decoration:underline}.qb-wrapper .qb-footer-summary .social-media{text-align:right}.qb-wrapper .qb-footer-summary .social-media ul{display:inline-block;padding:0;margin:0}.qb-wrapper .qb-footer-summary .social-media ul li{display:inline-block}.qb-wrapper .qb-footer-summary .social-media ul li a{color:rgba(255,255,255,.6);font-size:22px;margin-right:10px;display:block}.qb-wrapper .qb-footer-summary .social-media ul li a:hover{color:#fff}.qb-wrapper .qb-footer-summary .social-media ul li:last-child a{margin-right:0}.qb-wrapper .qb-footer-summary .social-media ul li.youtube a{background:rgba(255,255,255,.6);border-radius:3px;position:relative;width:19px;height:19px;top:2px}.qb-wrapper .qb-footer-summary .social-media ul li.youtube a i{color:#000;font-size:.6em;position:absolute;top:3px;left:3px}.qb-wrapper .qb-footer-summary .social-media ul li.youtube a:hover{background:#fff}.qb-wrapper .qb-footer-summary .qb-list-horizontal{text-align:center;display:block}.qb-wrapper .qb-footer-summary .qb-list-horizontal li{color:#d4d7dc}.qb-wrapper .qb-footer-summary .qb-list-horizontal li a{display:block;margin:0 15px;color:#d4d7dc;font-size:12px}.qb-wrapper .qb-footer-summary .qb-list-horizontal li a:hover{color:#fff;text-decoration:underline}@media only screen and (max-width:767px){.qb-wrapper .qb-footer-summary .container .qb-list-horizontal li a:hover,.qb-wrapper .qb-footer-summary .container .social-media ul li a:hover{color:#fff;text-decoration:underline}.qb-wrapper .qb-footer-summary{padding-top:40px;min-height:auto}.qb-wrapper .qb-footer-summary .container{padding-bottom:44px;margin:0 15px}.qb-wrapper .qb-footer-summary .container .social-media{text-align:center}.qb-wrapper .qb-footer-summary .container .social-media ul li a{font-size:2em;margin-right:5px}.qb-wrapper .qb-footer-summary .container .social-media ul li.youtube a{width:26px;height:26px;top:2px}.qb-wrapper .qb-footer-summary .container .social-media ul li.youtube a i{top:4.5px;left:3.5px}.qb-wrapper .qb-footer-summary .container .qb-list-horizontal{display:block;margin:26px 0 4px}.qb-wrapper .qb-footer-summary .container .qb-list-horizontal li a{display:inline-block;margin:0 16px;font-size:.9em}}/*!
*  Intuit - qb-grid-component
*
*  (10/12/2016)
*/.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content p,.qb-wrapper .qb-space-top-sm{padding:20px 0 0;margin:0}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content h4,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content p,.qb-wrapper .v-ellipsis{display:block;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}.qb-wrapper .qb-grid-wrapper{background-color:transparent}.qb-wrapper .qb-grid-wrapper h1{margin-top:40px;margin-bottom:40px;font-size:44px;text-align:center}.qb-wrapper .qb-grid-wrapper .qb-grid-component{font-family:AvenirNextRegular;width:960px;margin:0 auto}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-sizer{width:300px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item{width:300px;height:380px;float:left;margin-bottom:20px;border-bottom:2px solid #d4d7dc;background:#fff}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--width2{width:620px;background-color:#fff;border-bottom:4px solid #24a205}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--width2 .qb-content p{-webkit-line-clamp:7}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--width2 .qb-content p.qb-author{padding:0}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--height2{height:780px;background-color:#fff}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media{width:100%;max-width:300px;display:inline-block;float:left;position:relative}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media.video img{position:absolute;top:36%;left:35%}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media .qb-img{width:100%;max-width:300px;height:376px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media .qb-img.qb-small{height:138px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content{display:inline-block;padding:28px 20px;color:#393a3d;width:100%;height:340px;max-width:300px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content.qb-small{height:200px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content .qb-context a{padding-top:20px;display:inline-block}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content p{margin:0;font-size:15px;-webkit-line-clamp:2;line-height:1.2}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content h4{font:19px AvenirNextRegular;color:#393a3d}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content h4:hover{color:#000}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content a{font:15px AvenirNextRegular;color:#0075c8}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content .content-type{color:#8d9096;text-transform:uppercase;font:15px AvenirNextRegular;display:block;padding-bottom:15px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content .content-time{padding:5px 0;color:#8d9096;font-size:15px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content .content-title{background:#24a205;color:#fff;margin-top:-28px;margin-bottom:28px;width:140px;height:40px;line-height:40px;text-align:left;text-transform:uppercase;font-size:15px;padding-left:10px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content .content-title span{display:inline-block;vertical-align:middle}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content{height:380px;padding:0}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component{margin-top:0;height:100%}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component .graphic{height:90px;background-size:contain}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component button{margin:16px auto 0;display:block;width:40%}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component p:after{background:0 0;content:none}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content p{-webkit-line-clamp:4}.qb-wrapper .qb-grid-wrapper .qb-grid-component.no-masonry .grid-item:not(:nth-child(3n)){margin-right:20px}@media only screen and (min-width:992px) and (max-width:1024px){.qb-wrapper .qb-grid-wrapper .qb-grid-component{width:80%}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-sizer{width:235px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--width2{width:490px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--width2 .qb-content{width:255px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media .qb-img{width:235px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component .graphic{margin:10px auto}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component button{width:50%;margin:0 auto}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component .block input[type=text]{margin-bottom:10px}}@media only screen and (min-width:768px) and (max-width:991px){.qb-wrapper .qb-grid-wrapper h1{font-size:31px}.qb-wrapper .qb-grid-wrapper .qb-grid-component{width:96%}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-sizer{width:220px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item{width:220px;height:260px;overflow:hidden}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--width2{width:460px;height:260px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--height2{height:540px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media{width:220px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media.video img{height:50px;top:26%}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media .qb-img{width:220px;height:246px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media .qb-img.qb-small{width:220px;height:90px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content{max-width:240px;height:250px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content.qb-small{width:220px;height:160px;padding-top:20px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content .content-type{font-size:12px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content h4{-webkit-line-clamp:2;font-size:15px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content p{font-size:12px;-webkit-line-clamp:2}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content a{font-size:12px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content .content-time{display:none}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component .graphic{height:65px;margin:0 auto 20px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component .block p{margin-bottom:15px!important;padding-top:15px;font-size:13px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component h3{font-size:15px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component button{width:100%;margin:.5rem auto 0}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content p{-webkit-line-clamp:4}}@media only screen and (min-width:481px) and (max-width:767px){.qb-wrapper .qb-grid-wrapper h1{font-size:28px;margin-top:25px;margin-bottom:25px}.qb-wrapper .qb-grid-wrapper .qb-grid-component,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-sizer{width:280px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--width2{width:280px;height:360px;border-bottom:2px solid #d4d7dc}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--width2 .qb-content p{-webkit-line-clamp:4}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--width2 .qb-content p.qb-author{font-size:12px;-webkit-line-clamp:1}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--height2{height:360px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media.video img{height:50px;top:30%;left:40%}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media .qb-img,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media .qb-img.qb-small{width:280px;height:138px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content{padding-top:5px;max-width:280px;height:200px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content h4{padding-top:10px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content .content-time,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content .content-title{display:none}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item{height:360px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content{height:100%}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component .graphic{margin:0 auto 15px;background-size:100%!important;width:100%}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component .block{width:100%}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component .block input[type=text]{display:block}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component button{width:88%;margin:5px auto 0}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content p{-webkit-line-clamp:3}}@media only screen and (max-width:480px){.qb-wrapper .qb-grid-wrapper h1{font-size:28px;margin-top:25px;margin-bottom:25px}.qb-wrapper .qb-grid-wrapper .qb-grid-component,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-sizer{width:280px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--width2{width:280px;height:360px;border-bottom:2px solid #d4d7dc}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--width2 .qb-content p{-webkit-line-clamp:4}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--width2 .qb-content p.qb-author{font-size:12px;-webkit-line-clamp:1}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.grid-item--height2{height:360px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media.video img{height:50px;top:30%;left:40%}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media .qb-img,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content-media .qb-img.qb-small{width:280px;height:138px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content{padding-top:5px;max-width:280px;height:200px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content h4{padding-top:10px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content .content-time,.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item .qb-content .content-title{display:none}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item{height:360px}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content{height:100%}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component .graphic{margin:0 auto 15px;background-size:100%!important;width:100%}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component .block{width:100%}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component .block input[type=text]{display:block}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content .qb-call-in-action-component button{width:88%;margin:5px auto 0}.qb-wrapper .qb-grid-wrapper .qb-grid-component .grid-item.cta-item .qb-content p{-webkit-line-clamp:3}}@media (min-width:768px){.navbar-nav>li>a{padding-top:23px;padding-bottom:0}.navbar-nav.navbar-right{margin:0 -10px 0 0}}/*!
 *  Intuit - qb-guide-banner-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-guide-banner-component .title h1,.qb-wrapper .qb-guide-banner-component .title p,.qb-wrapper .qb-space-top-sm{padding:20px 0 0;margin:0}.qb-wrapper .qb-guide-banner-component .title{min-height:180px;position:relative}.qb-wrapper .qb-guide-banner-component .title p{color:#0076c5;font-size:19px}.qb-wrapper .qb-guide-banner-component .title p a{color:#0076c5}.qb-wrapper .qb-guide-banner-component .title p a:hover{text-decoration:underline}.qb-wrapper .qb-guide-banner-component .title h1{font-size:44px}.qb-wrapper .qb-guide-banner-component .title ul{width:100%;padding:0;margin:0;display:inline-block;position:absolute;bottom:14px}.qb-wrapper .qb-guide-banner-component .title ul li{margin-right:2px;display:inline-block}.qb-wrapper .qb-guide-banner-component .title ul li i{font-size:25px}.qb-wrapper .qb-guide-banner-component .timer{font-size:15px}.qb-wrapper .qb-guide-banner-component .timer span{color:#babec5}@media only screen and (max-width:767px){.qb-wrapper .qb-guide-banner-component .title{padding-top:60px;padding-bottom:20px}.qb-wrapper .qb-guide-banner-component .title p{padding:0}.qb-wrapper .qb-guide-banner-component .title .timer{padding:60px 0 0;font-size:15px}.qb-wrapper .qb-guide-banner-component .title .timer span{color:#babec5}.qb-wrapper .qb-guide-banner-component .title ul{position:inherit;margin:20px 0 0;bottom:inherit}.qb-wrapper .qb-guide-banner-component .title ul li i{font-size:32px}.qb-wrapper .qb-guide-banner-component .qb-space-top-lg{padding-top:0}}/*!
 *  Intuit - qb-guide-deduction-component.scss
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-guide-deduction-component .topic-title h2,.qb-wrapper .qb-space-top-sm{padding:20px 0 0;margin:0}.qb-wrapper .qb-guide-deduction-component,.qb-wrapper .qb-space-md{padding:40px;margin:0}.qb-wrapper .qb-button,.qb-wrapper .qb-button-base,.qb-wrapper .qb-button-inverse,.qb-wrapper .qb-button-secondary,.qb-wrapper .qb-guide-deduction-component .topic-title a{border:0;border-radius:4px;font-size:15px;font-family:AvenirNextDemi;padding:6px 16px;-webkit-transition:background .5s;transition:background .5s;color:#fff}.qb-wrapper .qb-button,.qb-wrapper .qb-guide-deduction-component .topic-title a{background:#108000}.qb-wrapper .qb-button:hover,.qb-wrapper .qb-guide-deduction-component .topic-title a:hover{background:#2ca01c}.qb-wrapper .qb-guide-deduction-component{background:#fff}.qb-wrapper .qb-guide-deduction-component .topic-title{width:50%;float:left}.qb-wrapper .qb-guide-deduction-component .topic-title h1{font-size:44px;line-height:48px}.qb-wrapper .qb-guide-deduction-component .topic-title h2{font-family:AvenirNextRegular,Helvetica,Arial,sans-serif!important;font-size:15px;line-height:19px}.qb-wrapper .qb-guide-deduction-component .topic-title a{display:inline-block;margin-top:40px}.qb-wrapper .qb-guide-deduction-component .topic-title .qb-button-inverse{margin-top:20px}.qb-wrapper .qb-guide-deduction-component .container-graphic{width:35%;float:right}.qb-wrapper .qb-guide-deduction-component .container-graphic .list{background:url(/content/themes/sbc2/resources/assets/img/updated-img/intro_icons.png);width:65px;height:265px;background-size:cover;float:left}.qb-wrapper .qb-guide-deduction-component .container-graphic ul{font-size:12px;font-family:AvenirNextBold;margin-top:20px}.qb-wrapper .qb-guide-deduction-component .container-graphic ul li{margin:10px 0 87px;font-size:12px;font-family:AvenirNextBold}.qb-wrapper .qb-guide-deduction-component .container-graphic ul li:last-child{margin:10px 0 0}.qb-wrapper .qb-guide-deduction-component .container-graphic img{height:265px}.qb-wrapper .qb-guide-deduction-component .container-graphic .graphic{width:100%;height:220px}@media only screen and (max-width:767px){.qb-wrapper .qb-guide-deduction-component .container-graphic{display:none}.qb-wrapper .qb-guide-deduction-component .topic-title{float:none;width:100%;display:block;height:auto;margin-top:20px}}/*!
 *  Intuit - qb-guide-download-button
 *
 *  (23-01-2017)
 */.qb-wrapper .qb-guide-download-button{background:#393a3d!important;border:0;font-size:15px;font-family:AvenirNextDemi;padding:12px 68px 12px 20px;width:220px}.qb-wrapper a.qb-guide-download-button{color:#fff!important}.qb-wrapper .download-button-mobile{text-align:right}.qb-wrapper .download-button-mobile .qb-guide-download-button{padding:6px 30px 6px 15px}/*!
 *  Intuit - qb-guide-list-component
 *
 *  (10/12/2016)
 */.qb-wrapper .h-ellipsis:after,.qb-wrapper .qb-guide-list-component ul li a:after{content:''}.qb-wrapper .qb-guide-list-component{font-size:15px}.qb-wrapper .qb-guide-list-component ul{margin:0;padding:0;list-style:none}.qb-wrapper .qb-guide-list-component ul li{border-top:1px solid #d4d7dc}.qb-wrapper .qb-guide-list-component ul li a{display:block;padding:8px 0 8px 32px;position:relative;-webkit-transition:font-size .2s,top .2s;transition:font-size .2s,top .2s}.qb-wrapper .qb-guide-list-component ul li a span{font-size:19px;color:#2ca01c;position:absolute;top:5px;left:2px;-webkit-transition:font-size .2s,top .2s;transition:font-size .2s,top .2s}.qb-wrapper .qb-guide-list-component ul li a.active,.qb-wrapper .qb-guide-list-component ul li a:hover{background:#f4f5f8;color:#393a3d;font-size:16px}.qb-wrapper .qb-guide-list-component ul li a.active span,.qb-wrapper .qb-guide-list-component ul li a:hover span{font-size:24px;top:2px}.qb-wrapper .qb-guide-list-component ul li:last-child{border-bottom:1px solid #d4d7dc}/*!
 *  Intuit - qb-guide-sign-up
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-guide-sign-up{background-color:#393a3d;padding:20px 20px 40px}.qb-wrapper .qb-guide-sign-up p{color:#fff;margin-bottom:30px;font:19px AvenirNextRegular}.qb-wrapper .qb-guide-sign-up p b{font:19px AvenirNextDemi}.qb-wrapper .qb-guide-sign-up .qb-text-sign-up{font:15px AvenirNextRegular;height:32px;margin-right:20px;width:28%;text-indent:10px}.qb-wrapper .qb-guide-sign-up .qb-text-sign-up::-webkit-input-placeholder{font:15px AvenirNextRegular;color:#393a3d}.qb-wrapper .qb-guide-sign-up .qb-text-sign-up:-moz-placeholder{font:15px AvenirNextRegular;color:#393a3d}.qb-wrapper .qb-guide-sign-up .qb-text-sign-up::-moz-placeholder{font:15px AvenirNextRegular;color:#393a3d}.qb-wrapper .qb-guide-sign-up .qb-text-sign-up:-ms-input-placeholder{font:15px AvenirNextRegular;color:#393a3d}.qb-wrapper .qb-guide-sign-up .qb-button-sign-up{border-radius:3px;border:none;font:15px AvenirNextDemi;color:#fff;padding:8px 20px;background-color:#24a205;outline:0}/*!
 *  Intuit - qb-home-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-home-component .qb-background-gray{padding:60px 0}.qb-wrapper .qb-home-component .qb-background-gray .qb-grid-section{padding-bottom:40px}.qb-wrapper .qb-home-component .qb-background-gray .qb-grid-section h1{font-size:44px;line-height:.8;text-align:center;margin-bottom:40px}/*!
 *  Intuit - qb-hub-banner-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-hub-banner-component h2,.qb-wrapper .qb-space-top-sm{padding:20px 0 0;margin:0}.qb-wrapper .qb-hub-banner-component{background:#fff;padding:60px 0 44px}.qb-wrapper .qb-hub-banner-component h1{font-size:44px;line-height:.8;font-family:GrotesqueMedium}.qb-wrapper .qb-hub-banner-component h2{font-family:AvenirNextRegular;text-align:left;font-size:24px}/*!
 *  Intuit - qb-post-banner-component 
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-list-horizontal,.qb-wrapper .qb-post-banner-component .description ul{display:inline-block;padding:0}.qb-wrapper .qb-list-horizontal li,.qb-wrapper .qb-post-banner-component .description ul li{display:inline-block}.qb-wrapper .qb-post-banner-component{background:#fff;border-bottom:1px solid #d4d7dc}.qb-wrapper .qb-post-banner-component .description{position:relative;padding-top:60px;padding-bottom:82px;min-height:340px}.qb-wrapper .qb-post-banner-component .description h1{font-family:GrotesqueMedium;font-size:44px;line-height:48px}.qb-wrapper .qb-post-banner-component .description p{margin:15px 0 0;font-size:19px}.qb-wrapper .qb-post-banner-component .description p a{color:#0076c5}.qb-wrapper .qb-post-banner-component .description p a:hover{text-decoration:underline}.qb-wrapper .qb-post-banner-component .description span{margin:2px 0 0;font-size:15px;display:block}.qb-wrapper .qb-post-banner-component .description ul{position:absolute;width:100%;height:auto;bottom:26px;margin:0}.qb-wrapper .qb-post-banner-component .description ul li{margin-right:2px}.qb-wrapper .qb-post-banner-component .description ul li i{font-size:20px}.qb-wrapper .qb-post-banner-component .description hr{display:none;border:1px solid #d4d7dc;margin:1px 0 8px}.qb-wrapper .qb-post-banner-component .description .qb-button{display:none}.qb-wrapper .qb-post-banner-component .side-right{padding-top:60px}.qb-wrapper .qb-post-banner-component .side-right .graphic{background-position:top center;background-size:cover;height:248px;width:100%;margin:0 auto}.qb-wrapper .qb-post-component .harmony.modal .modal-body li:last-child,.qb-wrapper .qb-post-component .harmony.modal .modal-body ul{margin-bottom:0}/*!
 *  Intuit - qb-post-component
 *
 *  (10/12/2016)
 */@media only screen and (max-width:767px){.qb-wrapper .qb-post-banner-component{border-bottom:none}.qb-wrapper .qb-post-banner-component .description{min-height:auto;padding-top:60px;padding-bottom:20px}.qb-wrapper .qb-post-banner-component .description .block button,.qb-wrapper .qb-post-banner-component .description .block ul{display:none}.qb-wrapper .qb-post-banner-component .side-right{padding:0;width:100%}}.qb-wrapper .qb-post-component{font-size:19px;padding:40px 0 0!important}.qb-wrapper .qb-post-component .harmony.modal .modal-header h3{font-size:24px}.qb-wrapper .qb-post-component .harmony.modal .modal-body{padding:0 35px 20px}.qb-wrapper .qb-post-component .harmony.modal .modal-body li{list-style-type:none}.qb-wrapper .qb-post-component .harmony.modal .modal-body li:first-child{margin-top:0}.qb-wrapper .qb-post-component .harmony.modal .modal-footer{padding-top:20px}.qb-wrapper .qb-post-component .harmony.modal .modal-footer a.modal-pdf-download-link{color:#fff;background:#2ca01c}.qb-wrapper .qb-post-component .vc_row{margin-left:0!important;margin-right:0!important}.qb-wrapper .qb-post-component.no-padding{padding:0!important}.qb-wrapper .qb-post-component h2{font-family:GrotesqueMedium;font-size:36px;line-height:40px;color:#393a3d;margin-bottom:11px;text-align:left}.qb-wrapper .qb-post-component h3{font-family:GrotesqueMedium;font-size:24px;line-height:28px;color:#393a3d}.qb-wrapper .qb-post-component h4{font-family:AvenirNextRegular;font-size:21px;line-height:32px}.qb-wrapper .qb-post-component ol,.qb-wrapper .qb-post-component ul{padding:0 0 0 40px;margin:0 0 10px;font-family:AvenirNextRegular}.qb-wrapper .qb-post-component ol li strong,.qb-wrapper .qb-post-component ul li strong{font-family:AvenirNextDemi}.qb-wrapper .qb-post-component blockquote:before{content:"\00a0";margin:0 auto;border-top:4px solid green;display:block;width:200px;text-align:center}.qb-wrapper .qb-post-component blockquote p{font-family:GrotesqueMedium!important;font-size:32px;line-height:36px;color:#8d9096;text-align:center;padding:0 60px 30px}.qb-wrapper .qb-post-component ul li{list-style-type:disc;margin-bottom:10px}.qb-wrapper .qb-post-component ol li{list-style-type:decimal;margin-bottom:10px}.qb-wrapper .qb-post-component p{margin:0 0 23px;line-height:1.3}.qb-wrapper .qb-post-component p strong{font-family:AvenirNextDemi}.qb-wrapper .qb-post-component img{margin:0;display:block;width:auto;max-width:100%}.qb-wrapper .qb-post-component quote{font-size:30px;color:#2ca01c;text-align:center;font-family:GrotesqueMedium;display:block;margin-bottom:23px;width:90%;line-height:1.2}.qb-wrapper .qb-post-component a{color:#0076c5}@media only screen and (min-width:768px) and (max-width:991px){.qb-wrapper .qb-post-component{padding:40px 40px 0!important}.qb-wrapper .qb-post-component h2{font-family:GrotesqueMedium;font-size:24px;line-height:28px;color:#393a3d;margin-bottom:11px;text-align:left}.qb-wrapper .qb-post-component h3{font-family:AvenirNextDemi;font-size:15px;line-height:19px;color:#393a3d}.qb-wrapper .qb-post-component blockquote:before{content:"\00a0";margin:0 auto;border-top:4px solid green;display:block;width:200px;text-align:center}.qb-wrapper .qb-post-component blockquote p{font-family:GrotesqueMedium!important;font-size:32px;line-height:36px;color:#8d9096;text-align:center;padding:0 60px 30px}}@media only screen and (max-width:767px){.qb-wrapper .qb-post-component blockquote p{font-family:GrotesqueMedium!important;font-size:24px;line-height:28px;color:#8d9096;text-align:center;padding:0 60px 30px}}/*!
 *  Intuit - .qb-post-keep-component 
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-post-keep-component .title,.qb-wrapper .qb-space-top-md{padding:40px 0 0;margin:0}.qb-wrapper .qb-post-keep-component{clear:both}.qb-wrapper .qb-post-keep-component .title{font-size:19px;font-family:AvenirNextDemi}.qb-wrapper .qb-post-keep-component ul{padding:14px 0 0}.qb-wrapper .qb-post-keep-component ul li{float:left;margin:0 12px 9px 0;list-style:none}.qb-wrapper .qb-post-keep-component ul li a{display:block;padding:6px 16px;background:#d4d7dc;-webkit-transition:background .5s;transition:background .5s}.qb-wrapper .qb-post-keep-component ul li a.active,.qb-wrapper .qb-post-keep-component ul li a:hover{background:#8d9096;color:#fff}/*!
 *  Intuit - .qb-post-popular-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-post-popular-component{font-family:AvenirNextDemi;padding:40px 0 0!important}.qb-wrapper .qb-post-popular-component .title{background:#393a3d;color:#fff;padding:10px 8px;font-size:15px}.qb-wrapper .qb-post-popular-component ul{padding:0;margin:0;list-style:none}.qb-wrapper .qb-post-popular-component ul li{border-top:1px solid #d4d7dc}.qb-wrapper .qb-post-popular-component ul li a{display:block;padding:13px 8px;font-size:15px}.qb-wrapper .qb-post-popular-component ul li a:hover{text-decoration:underline}.qb-wrapper .qb-post-popular-component ul li:first-child{border-top:0}@media only screen and (min-width:320px) and (max-width:768px){.qb-post-popular-component{display:none}}/*!
 *  Intuit - qb-post-related-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-post-related-component .row,.qb-wrapper .qb-post-related-component .row .section .description h2 a,.qb-wrapper .qb-post-related-component .row .section .description p,.qb-wrapper .qb-space-top-sm{padding:20px 0 0;margin:0}.qb-wrapper .qb-post-related-component .row .section .description,.qb-wrapper .qb-space-sm{padding:20px;margin:0}.qb-wrapper .qb-post-related-component .row .section .description h2 a,.qb-wrapper .qb-post-related-component .row .section .description p,.qb-wrapper .v-ellipsis{display:block;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}.qb-wrapper .qb-post-related-component{padding-bottom:60px}.qb-wrapper .qb-post-related-component h3{padding:40px 0 0;margin:0;font-size:36px;font-family:GrotesqueMedium}.qb-wrapper .qb-post-related-component .row .section .graphic{background-size:cover;background-position:center;width:100%;height:137px}.qb-wrapper .qb-post-related-component .row .section .description{border-bottom:1px solid #d4d7dc;height:235px;background:#fff}.qb-wrapper .qb-post-related-component .row .section .description h2 a{font-size:19px;font-family:AvenirNextRegular;-webkit-line-clamp:2;color:#202020;max-height:62px;text-align:left}.qb-wrapper .qb-post-related-component .row .section .description h2 a:hover{color:#202020}.qb-wrapper .qb-post-related-component .row .section .description p{-webkit-line-clamp:3;font-size:15px}.qb-wrapper .qb-post-related-component .row .section .description a{color:#0076c5;font-size:15px}.qb-wrapper .qb-post-related-component .row .section .description span{text-transform:uppercase;color:#babec5;display:block;font-size:15px}.qb-wrapper .qb-post-related-component .row .section .description span.read-time{text-transform:none;padding-top:5px}@media only screen and (max-width:991px){.qb-wrapper .qb-post-related-component .row .section{margin-bottom:20px}.qb-wrapper .qb-post-related-component .row .section .description{height:auto}}@media only screen and (min-width:768px){.qb-wrapper .qb-post-related-component .section:first-child{padding-left:0!important}.qb-wrapper .qb-post-related-component .section:last-child{padding-right:0!important}}/*!
 *  Intuit - qb-related-guide-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-related-guide-component .row,.qb-wrapper .qb-related-guide-component .row .section .description p,.qb-wrapper .qb-related-guide-component .row .section .description span,.qb-wrapper .qb-space-top-sm{padding:20px 0 0;margin:0}.qb-wrapper .qb-related-guide-component .row .section .description,.qb-wrapper .qb-space-sm{padding:20px;margin:0}.qb-wrapper .qb-related-guide-component .row .section .description h2 a,.qb-wrapper .qb-related-guide-component .row .section .description p,.qb-wrapper .v-ellipsis{display:block;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}.qb-wrapper .qb-related-guide-component .color-section{background:#fff}.qb-wrapper .qb-related-guide-component .qb-background-color{background:#eceef1}.qb-wrapper .qb-related-guide-component .row .section{padding-left:15px;padding-right:15px;min-height:340px}.qb-wrapper .qb-related-guide-component .row .section .graphic{background-size:cover;background-position:center;width:100%;height:137px;background-color:#fff}.qb-wrapper .qb-related-guide-component .row .section .description{min-height:290px;border-bottom:1px solid #d4d7dc}.qb-wrapper .qb-related-guide-component .row .section .description.guide-page{background-color:#ecedf0}.qb-wrapper .qb-related-guide-component .row .section .description h2 a{font-size:19px;font-family:AvenirNextRegular;-webkit-line-clamp:3;color:#202020;position:relative}.qb-wrapper .qb-related-guide-component .row .section .description h2 a:hover{color:#202020}.qb-wrapper .qb-related-guide-component .row .section .description p{-webkit-line-clamp:3;font-size:15px;position:relative}.qb-wrapper .qb-related-guide-component .row .section .description a{color:#0076c5;font-size:15px}.qb-wrapper .qb-related-guide-component .row .section .description span{color:#babec5;display:block;font-size:15px}@media only screen and (max-width:767px){.qb-wrapper .qb-related-guide-component h1{padding:20px 0 0}.qb-wrapper .qb-related-guide-component.qb-space-top-md{padding:0!important}.qb-wrapper .qb-related-guide-component .color-section{background:#eceef1}.qb-wrapper .qb-related-guide-component .qb-background-color{background:#fff}.qb-wrapper .qb-related-guide-component.qb-space-top-lg{padding-top:0}.qb-wrapper .qb-related-guide-component .section{margin-bottom:20px}}@media only screen and (min-width:768px){.qb-wrapper .qb-related-guide-component .section:first-child{padding-left:0!important}.qb-wrapper .qb-related-guide-component .section:last-child{padding-right:0!important}}@media only screen and (min-width:320px) and (max-width:767px){.qb-wrapper .qb-related-guide-component,.qb-wrapper .qb-related-guide-component>div{padding:0!important}.qb-wrapper .qb-background-gray.qb-float-component-wrapper{padding-bottom:0!important}.qb-wrapper .qb-related-guide-component h1{text-align:center}}/*!
 *  Intuit - qb-search-banner-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-search-banner-component{background:#fff;padding:60px 0 26px}.qb-wrapper .qb-search-banner-component h1{font-size:44px;line-height:.8}.qb-wrapper .qb-search-banner-component p{padding-top:32px;font-size:15px}.qb-wrapper .qb-search-banner-component .qb-dropdown{display:none;padding:20px 0 0}.qb-wrapper .qb-search-banner-component .qb-dropdown select{height:37px;border-radius:10px;border:1px solid #8d9096;width:100%;background:#fff;color:#8d9096}.qb-wrapper .qb-search-banner-component .qb-dropdown select option{border:0}/*!
 *  Intuit - qb-search-list-component
 *
 *  (10/12/2016)
 */@media only screen and (max-width:767px){.qb-wrapper .qb-search-banner-component .qb-dropdown{display:block;font-size:15px}.qb-wrapper .qb-search-banner-component p{font-size:1.1em;padding:20px 0 0}}.qb-wrapper .qb-search-list-component{padding:0 0 26px;width:98%}.qb-wrapper .qb-search-list-component p{line-height:inherit}.qb-wrapper .qb-search-list-component ul{padding:0;margin:0}.qb-wrapper .qb-search-list-component ul li{list-style:none;padding-top:36px;padding-bottom:16px;border-bottom:1px solid #d4d7dc}.qb-wrapper .qb-search-list-component ul li:first-child{padding-top:0;border-top:0}.qb-wrapper .qb-search-list-component ul li .topic-title h1{font-size:32px;margin-top:-7px}.qb-wrapper .qb-search-list-component ul li .topic-title p{margin:0;padding-top:18px;font-size:15px}.qb-wrapper .qb-search-list-component ul li .container-graphic .graphic{width:100%;height:140px}/*!
 *  Intuit - qb-topic-banner-component
 *
 *  (10/12/2016)
 */@media only screen and (max-width:767px){.qb-wrapper .qb-search-list-component{width:100%}.qb-wrapper .qb-search-list-component ul li{margin-bottom:20px;padding-top:0;background:#fff}.qb-wrapper .qb-search-list-component ul li .container-graphic{margin-bottom:20px}.qb-wrapper .qb-search-list-component ul li .container-graphic .graphic{width:100%;height:200px!important}.qb-wrapper .qb-search-list-component ul li .topic-title{padding:20px 40px}}.qb-wrapper .qb-signup-component{background:#edeef0;padding:50px;margin-bottom:50px}.qb-wrapper .qb-signup-component form{margin-top:20px}/*!
*  Intuit - qb-taxonomy-grid-component
*
*  (10/12/2016)
*/.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-content .taxonomy-text p,.qb-wrapper .v-ellipsis{display:block;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}.qb-wrapper .vc_row{margin-left:0;margin-right:0}.qb-wrapper .qb-taxonomy-grid-wrapper{background-color:transparent}.qb-wrapper .qb-taxonomy-grid-wrapper a:hover{color:#393a3d}.qb-wrapper .qb-taxonomy-grid-wrapper h1{margin-top:52px;margin-bottom:40px;font-size:44px;text-align:center}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component{width:100%;margin:0 auto}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item{border-bottom:2px solid #d6d9de;width:300px;height:260px;display:inline-grid;display:-ms-inline-grid;margin-bottom:10px;background-color:#fff}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item:hover{background-color:#d4d7dc}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item:not(:nth-child(3n)){margin-right:15px}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-media{padding:28px 0}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-media .qb-taxonomy-img{width:300px;height:85px}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-content{padding:0 20px 20px}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-content h4{font:19px AvenirNextRegular;text-align:center;margin:0 0 20px}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-content .taxonomy-text p{font:15px AvenirNextRegular;margin:0;-webkit-line-clamp:3;height:55px}@media only screen and (min-width:992px) and (max-width:1024px) and (orientation:landspace){.qb-wrapper .qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component{width:80%}.qb-wrapper .qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item{width:235px;height:210px}.qb-wrapper .qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-media .qb-taxonomy-img{height:80px}}@media only screen and (min-width:992px) and (max-width:1024px){.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component{width:80%}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item{width:235px;height:210px}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-media{padding:14px 0}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-media .qb-taxonomy-img{height:80px}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-content h4{margin:0 0 10px}}@media only screen and (min-width:768px) and (max-width:991px){.qb-wrapper .qb-taxonomy-grid-wrapper h1{font-size:31px}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component{width:96%}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item{width:220px;height:250px}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-img{width:100%}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-content .taxonomy-text{display:none}}@media only screen and (min-width:320px) and (max-width:767px){.qb-wrapper .qb-taxonomy-grid-wrapper{padding:0 20px}.qb-wrapper .qb-taxonomy-grid-wrapper h1{font-size:28px;margin-top:25px;margin-bottom:25px}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component{width:275px;margin:0 auto}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item{width:120px;height:150px}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-media .qb-taxonomy-img{background-size:contain!important;width:100%;height:60px}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item:not(:nth-child(3n)){margin-right:0}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item:not(:nth-child(2n)){margin-right:30px}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-media{padding:8px 0}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-content{padding:0 0 6px}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-content h4{font-size:15px;margin:0;line-height:1}.qb-wrapper .qb-taxonomy-grid-wrapper .qb-taxonomy-grid-component .taxonomy-item .qb-taxonomy-content .taxonomy-text{display:none}}/*!
 *  Intuit - qb-top-searches-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-top-searches-component .qb-top-searches{padding:0 0 10px;border-bottom:1px solid #d4d7dc}.qb-wrapper .qb-top-searches-component .qb-top-searches h4{font-family:AvenirNextDemi;font-size:19px}.qb-wrapper .qb-top-searches-component .qb-top-searches-list .qb-title{line-height:1.4;font-family:AvenirNextDemi}.qb-wrapper,.qb-wrapper p{line-height:1.5}.qb-wrapper .qb-top-searches-component .qb-top-searches-list ul{list-style:none;padding:0;margin:0}.qb-wrapper .qb-top-searches-component .qb-top-searches-list ul li{position:relative;padding-right:8px;padding-top:22px;padding-bottom:18px}.qb-wrapper .qb-top-searches-component .qb-top-searches-list ul li .summary a{color:#0076c5;float:left;display:block;text-decoration:none;-webkit-transition:text-decoration 1s;transition:text-decoration 1s;font-size:15px}.qb-wrapper .qb-top-searches-component .qb-top-searches-list ul li .summary a:hover{text-decoration:underline;cursor:pointer}.qb-wrapper .qb-top-searches-component .qb-top-searches-list ul li .summary p{margin:0 0 -1px;clear:both;-webkit-box-orient:vertical;-webkit-line-clamp:3;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;font-size:15px}.qb-wrapper .qb-top-searches-component .qb-top-searches-list ul li .summary p.qb-title{font-family:AvenirNextMedium!important}@media only screen and (max-width:991px){.qb-top-searches-component{display:none}}/*!
 *  Intuit - qb-topic-banner-component
 *
 *  (10/12/2016)
 */.qb-wrapper .qb-space-top-sm,.qb-wrapper .qb-topic-banner-component .topic-title h2{padding:20px 0 0;margin:0}.qb-wrapper .qb-space-md,.qb-wrapper .qb-topic-banner-component{padding:40px;margin:0}.qb-wrapper .qb-button,.qb-wrapper .qb-button-base,.qb-wrapper .qb-button-inverse,.qb-wrapper .qb-button-secondary,.qb-wrapper .qb-topic-banner-component .topic-title a{border:0;border-radius:4px;font-size:15px;font-family:AvenirNextDemi;padding:6px 16px;-webkit-transition:background .5s;transition:background .5s;color:#fff}.qb-wrapper .qb-button,.qb-wrapper .qb-topic-banner-component .topic-title a{background:#108000}.qb-wrapper .qb-button:hover,.qb-wrapper .qb-topic-banner-component .topic-title a:hover{background:#2ca01c}.qb-wrapper .qb-topic-banner-component{background:#fff}.qb-wrapper .qb-topic-banner-component .topic-title{width:45%;float:left}.qb-wrapper .qb-topic-banner-component .topic-title h1{font-size:32px}.qb-wrapper .qb-topic-banner-component .topic-title h2{font-family:AvenirNextRegular,Helvetica,Arial,sans-serif!important;font-size:19px;text-align:left}.qb-wrapper .qb-topic-banner-component .topic-title a{display:inline-block;margin-top:40px}.qb-wrapper .qb-topic-banner-component .container-graphic{width:50%;float:right}.qb-wrapper .qb-topic-banner-component .container-graphic .graphic{width:100%;height:220px}@media only screen and (max-width:480px){.qb-wrapper .qb-topic-banner-component .container-graphic{float:none;width:100%;display:block;height:auto}.qb-wrapper .qb-topic-banner-component .topic-title{float:none;width:100%;display:block;height:auto;margin-top:20px}}#the-video-modal,#to-video-modal{left:0;width:100%;height:100%;top:0}#to-video-modal{background:rgba(0,0,0,.15);position:absolute}#video-play-icon{width:90px;height:90px;position:absolute;top:50%;left:50%;margin:-45px 0 0 -45px}#the-video-modal{position:fixed;background:rgba(0,0,0,.6);z-index:9000;display:none}#the-video-modal #modal-title{position:absolute;top:0;padding:1% 1.5%;color:#fff}#the-video-modal .iframe-container{width:80%;height:70%;position:absolute;top:70%;left:50%;margin:-35% 0 0 -40%;background:#000}@media only screen and (min-width:321px) and (max-width:768px){#the-video-modal .iframe-container{width:90%;height:70%;top:45%;left:50%;margin:-35% 0 0 -45%}#the-video-modal iframe{width:98%;margin:4% auto 1%;display:block;height:88%}}#the-video-modal iframe{width:98%;margin:5% auto 1%;display:block;height:88%}#close-video-modal{position:absolute;top:0;right:0;color:#fff;padding:1% 1.5%}/*!
 *  Intuit - wpb_wrapper
 *
 *  (10/12/2016)
 */#main{margin:0!important}.qb-wrapper{color:#393a3d;font-size:19px;/*! normalize.css v3.0.2 | MIT License | git.io/normalize -- included in bootstrap3 */font-family:AvenirNextRegular}.qb-wrapper a{color:#393a3d;-webkit-transition:color .5s;transition:color .5s}.qb-wrapper a.active,.qb-wrapper a:hover{color:#0076c5}.qb-wrapper a:hover{text-decoration:none}.qb-wrapper h1,.qb-wrapper h2,.qb-wrapper h3,.qb-wrapper h4,.qb-wrapper h5,.qb-wrapper h6{margin:0;padding:0;letter-spacing:0;font-weight:500;line-height:1.1;color:inherit}.qb-wrapper h1{font-size:36px;font-family:GrotesqueMedium}.qb-wrapper .btn-border,.qb-wrapper .qb-action{font-family:AvenirNextDemi}.qb-wrapper .h1.b{font-size:24px}.qb-wrapper h2{font-size:32px}.qb-wrapper h3{font-size:19px}.qb-wrapper .qb-space-top-lg{padding:60px 0 0;margin:0}.qb-wrapper .qb-space-top-md{padding:40px 0 0;margin:0}.qb-wrapper .qb-space-top-sm{padding:20px 0 0;margin:0}.qb-wrapper .qb-space-top-xs{padding:8px 0 0;margin:0}.qb-wrapper .qb-space-lg{padding:60px;margin:0}.qb-wrapper .qb-space-md{padding:40px;margin:0}.qb-wrapper .qb-space-sm{padding:20px;margin:0}.qb-wrapper .qb-space-xs{padding:8px;margin:0}.qb-wrapper .qb-space-bottom-md{padding-bottom:60px}.qb-wrapper .qb-list-horizontal{display:inline-block;padding:0}.qb-wrapper .qb-list-horizontal li{display:inline-block}.qb-wrapper .qb-button,.qb-wrapper .qb-button-base,.qb-wrapper .qb-button-inverse,.qb-wrapper .qb-button-secondary{border:0;border-radius:4px;font-size:15px;font-family:AvenirNextDemi;padding:6px 16px;-webkit-transition:background .5s;transition:background .5s;color:#fff}.qb-wrapper .full-width-component,.qb-wrapper .full-width-component .row [class*=col-],.qb-wrapper .no-gutter>[class*=col-]{padding-right:0;padding-left:0}.qb-wrapper .qb-button{background:#108000}.qb-wrapper .qb-button:hover{background:#2ca01c}.qb-wrapper .qb-button-secondary{background:#393a3d!important}.qb-wrapper .qb-button-secondary:hover{background:#000!important}.qb-wrapper .qb-button-inverse{background:#2ca01c}.qb-wrapper .qb-button-inverse:hover{background:#108000}.qb-wrapper .h-ellipsis:after{content:''}.qb-wrapper .v-ellipsis{display:block;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}.qb-wrapper .qb-input-text{height:30px;font-size:15px;border:1px solid #393a3d;padding:0 5px;border-radius:4px;width:100%;color:#393a3d}.qb-wrapper .btn-border{border:2px solid #000;border-radius:4px;padding:7px 14px;font-size:19px;background:#fff;color:#393a3d!important}.qb-wrapper .btn-border:hover{color:#fff!important;text-decoration:none!important;background:#393a3d}.qb-wrapper .qb-background-gray{background:#f4f5f8}.qb-wrapper .container{padding-left:10px;padding-right:10px}.qb-wrapper .row{margin-left:-10px;margin-right:-10px}.qb-wrapper .col-lg-1,.qb-wrapper .col-lg-10,.qb-wrapper .col-lg-11,.qb-wrapper .col-lg-12,.qb-wrapper .col-lg-2,.qb-wrapper .col-lg-3,.qb-wrapper .col-lg-4,.qb-wrapper .col-lg-5,.qb-wrapper .col-lg-6,.qb-wrapper .col-lg-7,.qb-wrapper .col-lg-8,.qb-wrapper .col-lg-9,.qb-wrapper .col-md-1,.qb-wrapper .col-md-10,.qb-wrapper .col-md-11,.qb-wrapper .col-md-12,.qb-wrapper .col-md-2,.qb-wrapper .col-md-3,.qb-wrapper .col-md-4,.qb-wrapper .col-md-5,.qb-wrapper .col-md-6,.qb-wrapper .col-md-7,.qb-wrapper .col-md-8,.qb-wrapper .col-md-9,.qb-wrapper .col-sm-1,.qb-wrapper .col-sm-10,.qb-wrapper .col-sm-11,.qb-wrapper .col-sm-12,.qb-wrapper .col-sm-2,.qb-wrapper .col-sm-3,.qb-wrapper .col-sm-4,.qb-wrapper .col-sm-5,.qb-wrapper .col-sm-6,.qb-wrapper .col-sm-7,.qb-wrapper .col-sm-8,.qb-wrapper .col-sm-9,.qb-wrapper .col-xs-1,.qb-wrapper .col-xs-10,.qb-wrapper .col-xs-11,.qb-wrapper .col-xs-12,.qb-wrapper .col-xs-2,.qb-wrapper .col-xs-3,.qb-wrapper .col-xs-4,.qb-wrapper .col-xs-5,.qb-wrapper .col-xs-6,.qb-wrapper .col-xs-7,.qb-wrapper .col-xs-8,.qb-wrapper .col-xs-9{position:relative;min-height:1px;padding-left:10px;padding-right:10px}.qb-wrapper .col-xs-1,.qb-wrapper .col-xs-10,.qb-wrapper .col-xs-11,.qb-wrapper .col-xs-12,.qb-wrapper .col-xs-2,.qb-wrapper .col-xs-3,.qb-wrapper .col-xs-4,.qb-wrapper .col-xs-5,.qb-wrapper .col-xs-6,.qb-wrapper .col-xs-7,.qb-wrapper .col-xs-8,.qb-wrapper .col-xs-9{float:left}.qb-wrapper .col-xs-12{width:100%}.qb-wrapper .col-xs-11{width:91.66666667%}.qb-wrapper .col-xs-10{width:83.33333333%}.qb-wrapper .col-xs-9{width:75%}.qb-wrapper .col-xs-8{width:66.66666667%}.qb-wrapper .col-xs-7{width:58.33333333%}.qb-wrapper .col-xs-6{width:50%}.qb-wrapper .col-xs-5{width:41.66666667%}.qb-wrapper .col-xs-4{width:33.33333333%}.qb-wrapper .col-xs-3{width:25%}.qb-wrapper .col-xs-2{width:16.66666667%}.qb-wrapper .col-xs-1{width:8.33333333%}.qb-wrapper .col-xs-pull-12{right:100%}.qb-wrapper .col-xs-pull-11{right:91.66666667%}.qb-wrapper .col-xs-pull-10{right:83.33333333%}.qb-wrapper .col-xs-pull-9{right:75%}.qb-wrapper .col-xs-pull-8{right:66.66666667%}.qb-wrapper .col-xs-pull-7{right:58.33333333%}.qb-wrapper .col-xs-pull-6{right:50%}.qb-wrapper .col-xs-pull-5{right:41.66666667%}.qb-wrapper .col-xs-pull-4{right:33.33333333%}.qb-wrapper .col-xs-pull-3{right:25%}.qb-wrapper .col-xs-pull-2{right:16.66666667%}.qb-wrapper .col-xs-pull-1{right:8.33333333%}.qb-wrapper .col-xs-pull-0{right:auto}.qb-wrapper .col-xs-push-12{left:100%}.qb-wrapper .col-xs-push-11{left:91.66666667%}.qb-wrapper .col-xs-push-10{left:83.33333333%}.qb-wrapper .col-xs-push-9{left:75%}.qb-wrapper .col-xs-push-8{left:66.66666667%}.qb-wrapper .col-xs-push-7{left:58.33333333%}.qb-wrapper .col-xs-push-6{left:50%}.qb-wrapper .col-xs-push-5{left:41.66666667%}.qb-wrapper .col-xs-push-4{left:33.33333333%}.qb-wrapper .col-xs-push-3{left:25%}.qb-wrapper .col-xs-push-2{left:16.66666667%}.qb-wrapper .col-xs-push-1{left:8.33333333%}.qb-wrapper .col-xs-push-0{left:auto}.qb-wrapper .col-xs-offset-12{margin-left:100%}.qb-wrapper .col-xs-offset-11{margin-left:91.66666667%}.qb-wrapper .col-xs-offset-10{margin-left:83.33333333%}.qb-wrapper .col-xs-offset-9{margin-left:75%}.qb-wrapper .col-xs-offset-8{margin-left:66.66666667%}.qb-wrapper .col-xs-offset-7{margin-left:58.33333333%}.qb-wrapper .col-xs-offset-6{margin-left:50%}.qb-wrapper .col-xs-offset-5{margin-left:41.66666667%}.qb-wrapper .col-xs-offset-4{margin-left:33.33333333%}.qb-wrapper .col-xs-offset-3{margin-left:25%}.qb-wrapper .col-xs-offset-2{margin-left:16.66666667%}.qb-wrapper .col-xs-offset-1{margin-left:8.33333333%}.qb-wrapper .col-xs-offset-0{margin-left:0}@media (min-width:768px){.qb-wrapper .col-sm-1,.qb-wrapper .col-sm-10,.qb-wrapper .col-sm-11,.qb-wrapper .col-sm-12,.qb-wrapper .col-sm-2,.qb-wrapper .col-sm-3,.qb-wrapper .col-sm-4,.qb-wrapper .col-sm-5,.qb-wrapper .col-sm-6,.qb-wrapper .col-sm-7,.qb-wrapper .col-sm-8,.qb-wrapper .col-sm-9{float:left}.qb-wrapper .col-sm-12{width:100%}.qb-wrapper .col-sm-11{width:91.66666667%}.qb-wrapper .col-sm-10{width:83.33333333%}.qb-wrapper .col-sm-9{width:75%}.qb-wrapper .col-sm-8{width:66.66666667%}.qb-wrapper .col-sm-7{width:58.33333333%}.qb-wrapper .col-sm-6{width:50%}.qb-wrapper .col-sm-5{width:41.66666667%}.qb-wrapper .col-sm-4{width:33.33333333%}.qb-wrapper .col-sm-3{width:25%}.qb-wrapper .col-sm-2{width:16.66666667%}.qb-wrapper .col-sm-1{width:8.33333333%}.qb-wrapper .col-sm-pull-12{right:100%}.qb-wrapper .col-sm-pull-11{right:91.66666667%}.qb-wrapper .col-sm-pull-10{right:83.33333333%}.qb-wrapper .col-sm-pull-9{right:75%}.qb-wrapper .col-sm-pull-8{right:66.66666667%}.qb-wrapper .col-sm-pull-7{right:58.33333333%}.qb-wrapper .col-sm-pull-6{right:50%}.qb-wrapper .col-sm-pull-5{right:41.66666667%}.qb-wrapper .col-sm-pull-4{right:33.33333333%}.qb-wrapper .col-sm-pull-3{right:25%}.qb-wrapper .col-sm-pull-2{right:16.66666667%}.qb-wrapper .col-sm-pull-1{right:8.33333333%}.qb-wrapper .col-sm-pull-0{right:auto}.qb-wrapper .col-sm-push-12{left:100%}.qb-wrapper .col-sm-push-11{left:91.66666667%}.qb-wrapper .col-sm-push-10{left:83.33333333%}.qb-wrapper .col-sm-push-9{left:75%}.qb-wrapper .col-sm-push-8{left:66.66666667%}.qb-wrapper .col-sm-push-7{left:58.33333333%}.qb-wrapper .col-sm-push-6{left:50%}.qb-wrapper .col-sm-push-5{left:41.66666667%}.qb-wrapper .col-sm-push-4{left:33.33333333%}.qb-wrapper .col-sm-push-3{left:25%}.qb-wrapper .col-sm-push-2{left:16.66666667%}.qb-wrapper .col-sm-push-1{left:8.33333333%}.qb-wrapper .col-sm-push-0{left:auto}.qb-wrapper .col-sm-offset-12{margin-left:100%}.qb-wrapper .col-sm-offset-11{margin-left:91.66666667%}.qb-wrapper .col-sm-offset-10{margin-left:83.33333333%}.qb-wrapper .col-sm-offset-9{margin-left:75%}.qb-wrapper .col-sm-offset-8{margin-left:66.66666667%}.qb-wrapper .col-sm-offset-7{margin-left:58.33333333%}.qb-wrapper .col-sm-offset-6{margin-left:50%}.qb-wrapper .col-sm-offset-5{margin-left:41.66666667%}.qb-wrapper .col-sm-offset-4{margin-left:33.33333333%}.qb-wrapper .col-sm-offset-3{margin-left:25%}.qb-wrapper .col-sm-offset-2{margin-left:16.66666667%}.qb-wrapper .col-sm-offset-1{margin-left:8.33333333%}.qb-wrapper .col-sm-offset-0{margin-left:0}}@media (min-width:1200px){.qb-wrapper .container{width:960px}.qb-wrapper .col-lg-1,.qb-wrapper .col-lg-10,.qb-wrapper .col-lg-11,.qb-wrapper .col-lg-12,.qb-wrapper .col-lg-2,.qb-wrapper .col-lg-3,.qb-wrapper .col-lg-4,.qb-wrapper .col-lg-5,.qb-wrapper .col-lg-6,.qb-wrapper .col-lg-7,.qb-wrapper .col-lg-8,.qb-wrapper .col-lg-9{float:left}.qb-wrapper .col-lg-12{width:100%}.qb-wrapper .col-lg-11{width:91.66666667%}.qb-wrapper .col-lg-10{width:83.33333333%}.qb-wrapper .col-lg-9{width:75%}.qb-wrapper .col-lg-8{width:66.66666667%}.qb-wrapper .col-lg-7{width:58.33333333%}.qb-wrapper .col-lg-6{width:50%}.qb-wrapper .col-lg-5{width:41.66666667%}.qb-wrapper .col-lg-4{width:33.33333333%}.qb-wrapper .col-lg-3{width:25%}.qb-wrapper .col-lg-2{width:16.66666667%}.qb-wrapper .col-lg-1{width:8.33333333%}.qb-wrapper .col-lg-pull-12{right:100%}.qb-wrapper .col-lg-pull-11{right:91.66666667%}.qb-wrapper .col-lg-pull-10{right:83.33333333%}.qb-wrapper .col-lg-pull-9{right:75%}.qb-wrapper .col-lg-pull-8{right:66.66666667%}.qb-wrapper .col-lg-pull-7{right:58.33333333%}.qb-wrapper .col-lg-pull-6{right:50%}.qb-wrapper .col-lg-pull-5{right:41.66666667%}.qb-wrapper .col-lg-pull-4{right:33.33333333%}.qb-wrapper .col-lg-pull-3{right:25%}.qb-wrapper .col-lg-pull-2{right:16.66666667%}.qb-wrapper .col-lg-pull-1{right:8.33333333%}.qb-wrapper .col-lg-pull-0{right:auto}.qb-wrapper .col-lg-push-12{left:100%}.qb-wrapper .col-lg-push-11{left:91.66666667%}.qb-wrapper .col-lg-push-10{left:83.33333333%}.qb-wrapper .col-lg-push-9{left:75%}.qb-wrapper .col-lg-push-8{left:66.66666667%}.qb-wrapper .col-lg-push-7{left:58.33333333%}.qb-wrapper .col-lg-push-6{left:50%}.qb-wrapper .col-lg-push-5{left:41.66666667%}.qb-wrapper .col-lg-push-4{left:33.33333333%}.qb-wrapper .col-lg-push-3{left:25%}.qb-wrapper .col-lg-push-2{left:16.66666667%}.qb-wrapper .col-lg-push-1{left:8.33333333%}.qb-wrapper .col-lg-push-0{left:auto}.qb-wrapper .col-lg-offset-12{margin-left:100%}.qb-wrapper .col-lg-offset-11{margin-left:91.66666667%}.qb-wrapper .col-lg-offset-10{margin-left:83.33333333%}.qb-wrapper .col-lg-offset-9{margin-left:75%}.qb-wrapper .col-lg-offset-8{margin-left:66.66666667%}.qb-wrapper .col-lg-offset-7{margin-left:58.33333333%}.qb-wrapper .col-lg-offset-6{margin-left:50%}.qb-wrapper .col-lg-offset-5{margin-left:41.66666667%}.qb-wrapper .col-lg-offset-4{margin-left:33.33333333%}.qb-wrapper .col-lg-offset-3{margin-left:25%}.qb-wrapper .col-lg-offset-2{margin-left:16.66666667%}.qb-wrapper .col-lg-offset-1{margin-left:8.33333333%}.qb-wrapper .col-lg-offset-0{margin-left:0}}@media (min-width:992px){.qb-wrapper .container{width:960px}.qb-wrapper .col-md-1,.qb-wrapper .col-md-10,.qb-wrapper .col-md-11,.qb-wrapper .col-md-12,.qb-wrapper .col-md-2,.qb-wrapper .col-md-3,.qb-wrapper .col-md-4,.qb-wrapper .col-md-5,.qb-wrapper .col-md-6,.qb-wrapper .col-md-7,.qb-wrapper .col-md-8,.qb-wrapper .col-md-9{float:left}.qb-wrapper .col-md-12{width:100%}.qb-wrapper .col-md-11{width:91.66666667%}.qb-wrapper .col-md-10{width:83.33333333%}.qb-wrapper .col-md-9{width:75%}.qb-wrapper .col-md-8{width:66.66666667%}.qb-wrapper .col-md-7{width:58.33333333%}.qb-wrapper .col-md-6{width:50%}.qb-wrapper .col-md-5{width:41.66666667%}.qb-wrapper .col-md-4{width:33.33333333%}.qb-wrapper .col-md-3{width:25%}.qb-wrapper .col-md-2{width:16.66666667%}.qb-wrapper .col-md-1{width:8.33333333%}.qb-wrapper .col-md-pull-12{right:100%}.qb-wrapper .col-md-pull-11{right:91.66666667%}.qb-wrapper .col-md-pull-10{right:83.33333333%}.qb-wrapper .col-md-pull-9{right:75%}.qb-wrapper .col-md-pull-8{right:66.66666667%}.qb-wrapper .col-md-pull-7{right:58.33333333%}.qb-wrapper .col-md-pull-6{right:50%}.qb-wrapper .col-md-pull-5{right:41.66666667%}.qb-wrapper .col-md-pull-4{right:33.33333333%}.qb-wrapper .col-md-pull-3{right:25%}.qb-wrapper .col-md-pull-2{right:16.66666667%}.qb-wrapper .col-md-pull-1{right:8.33333333%}.qb-wrapper .col-md-pull-0{right:auto}.qb-wrapper .col-md-push-12{left:100%}.qb-wrapper .col-md-push-11{left:91.66666667%}.qb-wrapper .col-md-push-10{left:83.33333333%}.qb-wrapper .col-md-push-9{left:75%}.qb-wrapper .col-md-push-8{left:66.66666667%}.qb-wrapper .col-md-push-7{left:58.33333333%}.qb-wrapper .col-md-push-6{left:50%}.qb-wrapper .col-md-push-5{left:41.66666667%}.qb-wrapper .col-md-push-4{left:33.33333333%}.qb-wrapper .col-md-push-3{left:25%}.qb-wrapper .col-md-push-2{left:16.66666667%}.qb-wrapper .col-md-push-1{left:8.33333333%}.qb-wrapper .col-md-push-0{left:auto}.qb-wrapper .col-md-offset-12{margin-left:100%}.qb-wrapper .col-md-offset-11{margin-left:91.66666667%}.qb-wrapper .col-md-offset-10{margin-left:83.33333333%}.qb-wrapper .col-md-offset-9{margin-left:75%}.qb-wrapper .col-md-offset-8{margin-left:66.66666667%}.qb-wrapper .col-md-offset-7{margin-left:58.33333333%}.qb-wrapper .col-md-offset-6{margin-left:50%}.qb-wrapper .col-md-offset-5{margin-left:41.66666667%}.qb-wrapper .col-md-offset-4{margin-left:33.33333333%}.qb-wrapper .col-md-offset-3{margin-left:25%}.qb-wrapper .col-md-offset-2{margin-left:16.66666667%}.qb-wrapper .col-md-offset-1{margin-left:8.33333333%}.qb-wrapper .col-md-offset-0{margin-left:0}}@media only screen and (max-width:767px){.qb-wrapper h1{font-size:1.8em}.qb-wrapper h2{font-size:1.2em}.qb-wrapper .container{padding-left:15px;padding-right:15px}.qb-wrapper .container .row{margin-left:-15px;margin-right:-15px}.qb-wrapper .col-lg-1,.qb-wrapper .col-lg-10,.qb-wrapper .col-lg-11,.qb-wrapper .col-lg-12,.qb-wrapper .col-lg-2,.qb-wrapper .col-lg-3,.qb-wrapper .col-lg-4,.qb-wrapper .col-lg-5,.qb-wrapper .col-lg-6,.qb-wrapper .col-lg-7,.qb-wrapper .col-lg-8,.qb-wrapper .col-lg-9,.qb-wrapper .col-md-1,.qb-wrapper .col-md-10,.qb-wrapper .col-md-11,.qb-wrapper .col-md-12,.qb-wrapper .col-md-2,.qb-wrapper .col-md-3,.qb-wrapper .col-md-4,.qb-wrapper .col-md-5,.qb-wrapper .col-md-6,.qb-wrapper .col-md-7,.qb-wrapper .col-md-8,.qb-wrapper .col-md-9,.qb-wrapper .col-sm-1,.qb-wrapper .col-sm-10,.qb-wrapper .col-sm-11,.qb-wrapper .col-sm-12,.qb-wrapper .col-sm-2,.qb-wrapper .col-sm-3,.qb-wrapper .col-sm-4,.qb-wrapper .col-sm-5,.qb-wrapper .col-sm-6,.qb-wrapper .col-sm-7,.qb-wrapper .col-sm-8,.qb-wrapper .col-sm-9,.qb-wrapper .col-xs-1,.qb-wrapper .col-xs-10,.qb-wrapper .col-xs-11,.qb-wrapper .col-xs-12,.qb-wrapper .col-xs-2,.qb-wrapper .col-xs-3,.qb-wrapper .col-xs-4,.qb-wrapper .col-xs-5,.qb-wrapper .col-xs-6,.qb-wrapper .col-xs-7,.qb-wrapper .col-xs-8,.qb-wrapper .col-xs-9{position:relative;min-height:1px;padding-left:15px;padding-right:15px}}header .vc_row{margin-left:0;margin-right:0}header .sub-header-container .navigation-wrapper>div{width:960px;margin:0 auto;padding-left:10px;padding-right:10px}header .container-fluid{padding-left:10px;padding-right:10px}header .container-fluid .navbar-brand{padding:15px}.wpb_button,.wpb_content_element,.wpb_row,ul.wpb_thumbnails-fluid>li{margin-bottom:20px!important}.sub-header-container .navigation-wrapper .subheader-subtitle{margin-top:10px}.wpb_wrapper .qb-btn,.wpb_wrapper .qb-btn-header a{font-family:AvenirNextDemi!important;margin-top:0!important;border-radius:5px;color:#fff!important}.wpb_wrapper .qb-btn{background:#2ca01c!important;line-height:1.4em!important;font-size:18px!important}.wpb_wrapper .qb-btn:hover{background:#108000!important}.wpb_wrapper .qb-btn-header a{background:#2ca01c!important;line-height:1.8em!important;font-size:15px!important;height:34px!important}.wpb_wrapper .qb-btn-header a:hover{background:#108000!important}.qb-wrapper .vc_column_container>.vc_column-inner{padding-left:0!important;padding-right:0!important}@media only screen and (min-width:320px) and (max-width:769px){header .sub-header-container .navigation-wrapper>div{width:100%}}