.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.qb-btn {
  padding: 10px 30px;
  line-height: 1.5em;
  font-family: "DIN Next LT Pro 400","DIN Next LT Pro","Consolas","Monaco","Lucida Console",sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-top: 3px;
  height: 34px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  padding: 4px 16px 0;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle; }

.qb-btn.QB-green {
  border: 1px solid #2C9F1C;
  background: #2C9F1C;
  color: #fff;
  background: -webkit-linear-gradient(top, #2C9F1C 100%, #f55e00 100%);
  background: -moz-linear-gradient(top, #2C9F1C 100%, #f55e00 100%);
  background: -o-linear-gradient(top, #2C9F1C 100%, #f55e00 100%);
  background: -ms-linear-gradient(top, #2C9F1C 100%, #f55e00 100%);
  background: linear-gradient(to bottom, #2C9F1C 100%, #f55e00 100%); }

.qb-btn.QB-orange {
  border: 1px solid #f55e00;
  background: #f77b00;
  color: #fff;
  background: -webkit-linear-gradient(top, #f77b00 100%, #f55e00 100%);
  background: -moz-linear-gradient(top, #f77b00 100%, #f55e00 100%);
  background: -o-linear-gradient(top, #f77b00 100%, #f55e00 100%);
  background: -ms-linear-gradient(top, #f77b00 100%, #f55e00 100%);
  background: linear-gradient(to bottom, #f77b00 100%, #f55e00 100%); }

.qb-btn.QB-gray {
  border: 1px solid #ccc;
  background: #393a3d;
  color: #fff;
  background: -webkit-linear-gradient(top, #393a3d 100%, #f55e00 100%);
  background: -moz-linear-gradient(top, #393a3d 100%, #f55e00 100%);
  background: -o-linear-gradient(top, #393a3d 100%, #f55e00 100%);
  background: -ms-linear-gradient(top, #393a3d 100%, #f55e00 100%);
  background: linear-gradient(to bottom, #393a3d 100%, #f55e00 100%); }

.qb-btn.QB-orange:hover, .qb-btn.QB-green:hover, .qb-btn.QB-gray:hover,
.qb-btn.QB-orange:active, .qb-btn.QB-green:active, .qb-btn.QB-gray:active,
.qb-btn.QB-orange:focus, .qb-btn.QB-green:focus, .qb-btn.QB-gray:focus {
  color: #fff;
  text-decoration: none; }
.animated-search {
  position: relative;
  float: right;
  background: #ffffff;
  overflow: hidden;
  -webkit-transition: opacity 100ms ease-out 100ms;
  -moz-transition: opacity 100ms ease-out 100ms;
  -o-transition: opacity 100ms ease-out 100ms;
  transition: opacity 100ms ease-out 100ms; }
  .animated-search form {
    display: inline-block; }
  .animated-search.closed {
    width: auto; }
    .animated-search.closed form {
      width: 0;
      -webkit-animation: outtext 0.1 linear 1s;
      animation: outtext 0.1 linear 1s; }
  .animated-search.open {
    width: 100%; }
    .animated-search.open form {
      -webkit-animation: intext 0.3s linear 1s;
      animation: intext 0.3 linear 1s;
      width: 100%; }
    .animated-search.open input[type="search"] {
      width: 100%; }
    .animated-search.open .close-search {
      opacity: 1;
      -webkit-animation: intext 0.3s linear 1s;
      animation: intext 0.3 linear 1s; }

@keyframes intext {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes outtext {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.qscarousel > .carousel-content-enter {
  position: relative;
  z-index: 2;
  opacity: 0.01; }

.qscarousel > .carousel-content-enter-active {
  opacity: 1;
  transition: opacity 500ms ease; }

.qscarousel > .carousel-content-leave {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 1; }

.qscarousel > .carousel-content-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease; }
#main {
  margin: 0; }

.slick-arrrow {
  display: block;
  width: 5%;
  height: 50%;
  top: 56%; }

#turorial-navigation-next,
#turorial-navigation-prev {
  background: #333;
  border-radius: 100%; }

a:hover {
  color: '#337ab7a'; }
