/*
  task--> default text
*/
@font-face {
  font-family: 'AvenirNextRegular';
  src: url('../fonts/AvenirNextLTW04-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AvenirNextLTW04-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AvenirNextLTW04-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/AvenirNextLTW04-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AvenirNextLTW04-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AvenirNextLTW04-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/*
  task--> headlines
*/
@font-face {
  font-family: 'AvenirNextMedium';
  src: url('../fonts/AvenirNextLTW04-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AvenirNextLTW04-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AvenirNextLTW04-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/AvenirNextLTW04-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AvenirNextLTW04-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AvenirNextLTW04-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'AvenirNextDemi';
  src: url('../fonts/AvenirNextLTW04-Demi.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AvenirNextLTW04-Demi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AvenirNextLTW04-Demi.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/AvenirNextLTW04-Demi.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AvenirNextLTW04-Demi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AvenirNextLTW04-Demi.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'GrotesqueMedium';
  src: url('../fonts/GeogrotesqueW03-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GeogrotesqueW03-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GeogrotesqueW03-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/GeogrotesqueW03-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GeogrotesqueW03-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GeogrotesqueW03-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}


/**

 *  TABLE OF CONTENTS
 *
 *  1.  RESET
 *  2.  GRID
 *  3.  TYPOGRAPHY
 *  4.  LIST ITEMS
 *  5.  TABLES
 *  6.  IMAGERY / MEDIA
 *  7.  FORMS
 *  8.  HEADER
 *  9.  FOOTER
 *  10. NAV
 *  11. SIDEBAR
 *  12. UTILITY
 *
 * -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 *
 *  A.  HOMEPAGE
 *  B.  SINGLE
 *  C.  LOOPS
 *  D.  CATEGORY
 *  E.  AUTHORS / USERS
 *  F.  SERP
 *  H.  RESPONSIVE
 *
**/


/** 1. RESET **/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize -- included in bootstrap3 */
a:hover{text-decoration:none}
h1,h2,h3,h4,h5,h6{margin:0;padding:0}


/** 2. GRID **/
html{overflow-x:hidden;margin-top: 0px !important;}
body{height:100%;background:#fff !important;}
.w960{width:960px}
.pull-bottom{display:table-cell;vertical-align: bottom;float: none}
.inner1{width:98%;height:100%;margin:0 1%}
.inner3{width:94%;height:100%;margin:0 3%}
.inner5{width:90%;height:100%;margin:0 5%}
.nm, .no-margin{margin:0%}
.np, .no-padding{padding-left: 0 !important;padding-right: 0 !important}
.block{display:block}
.inline{display:inline}


/** 3. TYPOGRAPHY

**/
body{font:20px "AvenirNextRegular", Helvetica, Arial, sans-serif;color:#505050}
p{font-family:"AvenirNextRegular", Helvetica, Arial, sans-serif !important;color:#505050;font-size:19px;}
.avenir-regular{font-family:"AvenirNextRegular", Helvetica, Arial, sans-serif !important}
.avenir-medium{font-family:"AvenirNextMedium", Helvetica, Arial, sans-serif !important}
.avenir-demi{font-family:"AvenirNextDemi", Helvetica, Arial, sans-serif !important}
.qs h1, .fh1{font:47.3px "GrotesqueMedium",Arial,sans-serif;}
.qs h2, h2.qs, .fh2{font:35px "GrotesqueMedium",Arial,sans-serif;color:#3b3b3b}
.qs h3, .fh3{font:23.97px "AvenirNextDemi", Helvetica, Arial, sans-serif}
.qs h4, .fh4{font:17.58px "AvenirNextDemi", Helvetica, Arial, sans-serif}
.color-green{color:#329e28 !important}
.color-black{color:#000 !important}
.color-white{color:#fff !important}
#single a, #page a, #home a{text-decoration:none;color:#329e28}
#single a.vc_btn3-color-green{color:#fff}
sup{font-size:65%}
nav.melody-header *{font-family: 'Helvetica Neue', 'Helvetica Neue LT W1G', 'Helvetica Neue', Helvetica, Arial, sans-serif !important}
footer *{font-family: 'AvenirNextRegular'}
.bold{font-weight:bold}
.tac{text-align:center}
.tar{text-align:right}
.tal{text-align:left}


/* quick font sizes! */
.qs .fs-10{font-size:10px}.qs .fs-11{font-size:11px}.qs .fs-12{font-size:12px}.qs .fs-13{font-size:13px}.qs .fs-14{font-size:14px}.qs .fs-15font-size:15px}.qs .fs-16{font-size:16px}.qs .fs-18{font-size:18px}.qs .fs-20{font-size:20px}.qs .fs-23{font-size:23px}.qs .fs-25font-siz:25px}.qs .fs-27{font-size:27px}.qs .fs-30{font-size:30px}.qs .fs-33{font-size:33px}.qs .fs-35{font-size:35px}.qs .fs-38{font-size:38px}.qs fs-40{font-size:40px}.qs .fs-45{font-size:45px}.qs .fs-50{font-size:50px}.qs .lh-32{line-height:32px}.qs .lh-46{line-height:46px}


/** 4. LIST ITEMS

**/
ul{}
ul li{}
ol{}
ol li{}
.nb{padding-left:0}
.xoxo, .nb{list-style:none;list-style-type:none}
.xoxo li{float:left}


/** 5. TABLES

**/
table{}
thead{}
th{}
tr{}
td{}
dl{}
dt{}
dd{}


/** 6. IMAGERY / MEDIA

**/
.bg-light-grey{background:#f5f5f5}
.bg-white{background:#fff}


/** 7. FORMS

**/



/** 8. HEADER

**/
/*Hide WP Admin Bar on pages*/
#globalNavHeader .global-header-resp div.navhdr-icons-ctnr{
  margin-top: 0px !important;
}
#globalNavHeader .global-header-resp.us-header-resp div.navhdr-menu-ctnr{
  margin-top: 0px !important;
}
#globalNavHeader .global-header-resp.us-header-resp div.navhdr-cta-ctnr{
  margin-top: 0px !important;
}

#globalNavHeader .global-header-resp .logo-quickbooks-185x40{
  width: 140px;
  height: 29px;
  background: url(https://usqs2.qbcontent.com/content/themes/qs2/resources/assets/img/cb_qb_logo_sm.png) no-repeat;
  margin-top: 5px;
}

#globalNavHeader .global-header-resp .navhdr-icons-ctnr br {
  display: none;
}

p.qb-header-label{
  float: right;
  font-size: 15px;
  color: #393A3D;
  margin: 10px 10px 0 0;
}

#wpadminbar { display: none; }

/* main qb logo */
.qblg{
  background-repeat:no-repeat;text-indent:-5000px;overflow:hidden;display:block;width:185px;height:40px;background-position:-229px -20px}


/** 9. FOOTER

**/

#footer_free_trial {
	background-color: #393a3d;
	min-height: 140px;
	margin:0px -15px 0 !important;
}
.wpb_row #footer_free_trial {
}
footer{margin-top:0 !important;z-index:10;position:relative;background: #393a3e !important;}
#ftr-top{background:#edeef0;padding:40px 0}
#ftr-top h4{font-size:21px;font-weight:900}
#ftr-bottom{background:#355ebf;padding:90px 0 40px}
#ftr-bottom p,.ftr-legal-links li a{color:#fff;font-size:12px;font-weight:bold;line-height:18px}
#ftr-bottom .legal{text-align:left}
#ftr-bottom .ftr-truste-logo{float:right}
.ftr-legal-links li{margin:0 10px}
.ftr-legal-links li:last-child{margin:0 0 0 10px}
#foot-nav a{color:#32373e}
#foot-nav h4 a{font-size:14px;font-weight:bold}
#foot-nav li a{font-size:14px}

/* @since: 3/16 -- melody bridge -- DON'T REMOVE! :) */
.ftr-i,.ftr-sprite {background-repeat:no-repeat;background:url(//quickbooks-s3.intuitstatic.com/assets/common/global-sprite-fallback-589852a8506d1b9e99c7f0b0ae66e487.png) no-repeat 0 0;background:url(//quickbooks-s3.intuitstatic.com/assets/common/global-sprite-931d2a7b1819b6f6eb4864a7b248f37b.svg) no-repeat 0 0;width:19px;height:19px;text-indent:-5000px;overflow:hidden;display:block}
.ftr-i-twitter{background-position:-529px -70px}
.ftr-i-twitter:hover{background-position:-529px -100px}
.ftr-i-facebook{background-position:-500px -70px}
.ftr-i-facebook:hover{background-position:-500px -100px}
.ftr-i-linkedin{background-position:-620px -70px}
.ftr-i-linkedin:hover{background-position:-620px -100px}
.ftr-i-youtube{background-position:-590px -70px}
.ftr-i-youtube:hover{background-position:-590px -100px}
.ftr-i-gplus{background-position:-560px -70px}
.ftr-i-gplus:hover{background-position:-560px -100px}
.ftr-i-global{background-position:-680px -70px;margin-right:4px}
.ftr-global-select-country span{vertical-align:top}
.ftr-global-select-country:hover img{background-position:-680px -100px}
.ftr-intuit-logo{height:24px;width:351px;background-position:-495px 0px}
.ftr-truste-logo{background-position:-498px -31px;height:31px;width:102px}

footer .legal-footer .footer-legal {
  padding: 30px 0 80px;
}

footer h5 {
  font: 14px/16px 'AvenirNextDemi';
  color: #fff ;
}

footer .bridge-site-footer .ctext ul li a {
  font-family: 'AvenirNextRegular';
  text-decoration: none;
  color: #fff;
}

footer .bridge-watercooler-boiler .content-container a,
footer .bridge-watercooler-boiler .content-container a:hover {
  color: #fff;
}

footer .bridge-watercooler-boiler .content-container .ctext ul li {
    list-style-type: none;
    margin: 0px;
}

footer .bridge-watercooler-boiler .content-container .ctext ul li:before {
  content: '|';
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
}

footer .bridge-watercooler-boiler .content-container .ctext ul li:first-child:before {
  content: '';
  margin-right: 0;
  margin-left: 0;
}

/** 10. NAV

**/
#qbnav{height:88px;position:relative;z-index:99;margin:0 auto;padding:0}
#qbnav .melody-header{background:#fff;border:none;box-shadow:none;position:static}
#qsnav{background:#000;padding:12px 0;height:48px;margin:0 0 70px;z-index:999}
#qsnav .container{max-width:960px}
#qsnav #menu-main{display:inline-block;width:100%;list-style:none}
#qsnav #menu-main li{float:left;display:block;width:33%;text-align:left}
.home #qsnav #menu-main li{text-align:center}
#qsnav a{color:#fff;font-size:15px}
#qsnav .search-wrap{overflow:hidden;margin-top:-4px;}
#qsnav .search-box{font-size:13px;padding:8px;width:100%;font-style:italic}
#qsnav #searchsubmit{float:right;width:36px;height:32px;background:url('../img/black-search-icon.png') no-repeat #393a3d;border:none;text-indent:-7777px;overflow:hidden;margin-top:-2px;}


/** 11. SIDEBAR

**/
#sidebar{position:absolute;width:215px;background:#f6f7f9;left:0;height:100%;z-index:1;}
#sidebar .inner{padding:6px 23px 0}
#sidebar  .item{padding:20px 0}
#sidebar .count{font:34px "GrotesqueMedium",Arial,sans-serif;color:#8d9096;padding-left:15px}
#sidebar .count, #sidebar .desc{float:left}
#sidebar .desc{width:130px;margin:0 0 0 20px;line-height:16px}
#sidebar .desc a{font:14px "AvenirNextDemi", Helvetica, Arial, sans-serif; color:#329e28}
#sidebar .active .desc a{color:#fff}
#sidebar .active{background:#393a3d}
#sidebar .active .count{color:#329e28}
#sidebar .inner.active, #single #sidebar .inner.active  a.color-black{color:#fff !important}
#sidebar .crp_title{margin-bottom:30px}
#sidebar .crp_excerpt, #sidebar .crp_view{display:none}


/** 12. UTILITY

**/
.fr{float:right}
.fl{float:left}
#site-wrapper {position: relative;width: 100%;overflow:hidden}
.border-top{border-top:1px solid #8d9096;padding-top:15px;margin-top:15px}
.border-bottom{border-bottom:1px solid #8d9096;padding-bottom:15px;margin-bottom:15px}
::-webkit-input-placeholder{color:#000}
:-moz-placeholder{color:#000}
::-moz-placeholder{color:#000}
:-ms-input-placeholder{color:#000}
#main .divider, #related .divider, .parentcat .divider, .childcat .divider{margin-bottom:35px}
#main .divider::after,.section-well .divider::after, #related .divider::after, .parentcat .divider::after,  .childcat .divider::after{position:absolute;width:6%;left:47%;margin-top:55px;height:6px;background:#2da01d;content:""}
.fh4.divider::after,
.fh5.divider::after{margin-top:25px !important}
.section-well{background:#fff;padding:100px 0 140px}
.section-well.odd{background:#edeef0;-webkit-box-shadow: inset 0px -3px 65px -14px rgba(0,0,0,0.14);
-moz-box-shadow: inset 0px -3px 65px -14px rgba(0,0,0,0.35);
box-shadow: inset 0px -3px 65px -14px rgba(0,0,0,0.35)}
.round img, img.round{border-radius:3333px}
.brd1{border-top:1px solid #b9b9b9;width:98%;margin-left:-1%;position:relative;height:25px;top:20px;left:8px}
.brd2{border:3px solid #fff;padding:3px;width:100%;height:100%}
.mlr5,.ml5{margin-left:5px}.mlr10,.ml10{margin-left:10px}.mlr20,.ml20{margin-left:20px}.mlr5,.mr5{margin-right:5px}.mlr10,.mr10{margin-righ:10px}.mlr20,.mr20{margin-right:20px}.mt10,.mtb10{margin-top:10px}.mt15,.mtb15{margin-top:15px}.mt20,.mtb20{margin-top:20px}.mt30,.mtb30{margin-top:30px}.mt35,.mtb35{margin-top:30px}.mt60,.mtb60{margin-top:60px}.mt90,.mtb90{margin-top:90px}.mb10,.mtb10{margin-bottom:10px}.mb15,.mtb15{margin-bottom:15px}.mb20,.mtb20{margin-bottom:20px}.mb30,.mtb30{margin-bottom:30px}.mb35,.mtb35{margin-bottom:30px}.mb60,mtb6{margin-bottom:60px}.mb90,.mtb90{margin-bottom:90px}.plr5,.pl5{padding-left:5px}.plr10,.pl10{padding-left:10px}.plr20,.pl20{padding-left:20px}.plr5,.pr5{padding-right:5px}.plr10,.pr10{padding-right:10px}.plr20,.pr20{padding-right:20px}.pt10,.ptb10{padding-top:10px}.pt20,.ptb20{padding-top:20px}.pt30,.ptb30{padding-top:30px}.pt60,.ptb60{padding-top:60px}.pt90,.ptb90{padding-top:90px}.pb10,.ptb10{padding-bottom:10px}.pb20,.ptb20{padding-bottom:20px}.pb30,.ptb30{padding-bottom:30px}.pb60,.ptb60{padding-bottom:60px}.pb90,.ptb90{padding-bottom:90px}


/** pagination **/
.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px}

.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff !important;
background: #555}

.pagination a:hover{
color:#fff !important;
background: #2da01d}

.pagination .current{
padding:6px 9px 5px 9px;
background: #2da01d;
color:#fff}

.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0}
.clearfix { display: inline-block}
/* start commented backslash hack \*/
* html .clearfix { height: 1%}
.clearfix { display: block}
/* close commented backslash hack */

.screen-reader-text{display:none}

/*Removing padding on inner column for VC*/
.wpb_wrapper .vc_column_container > .vc_column-inner {
  padding: 0!important;
}

/*Intuit Search*/
#home_search {
  margin-bottom: 0px;
}

#home_search .search-wrapper .vc_column-inner .wpb_wrapper div{
  width: 600px;
  margin: 10px auto;
}

#home_search h2 {
  font-family: 'GrotesqueMedium';
  font-size: 48px;
}

#home_search [data-qb-search] div {
  text-align: center;
}

#home_search input[type="search"] {
   border: none;
   height: 45px;
   margin: 10px 0px 10px 10px;
   width: 87%;
   font: 19px "AvenirNextRegular";
   text-indent: 20px;
}

#home_search a.search-button {
  color: #fff;
  border: none;
  background-color: #52b700;
  padding: 0px 25px;
  display: inline-block;
  height: 45px;
  margin: 10px 0px 10px 0px;
  vertical-align: bottom;
}

#page_sub_navigation {
  margin-top: 0px;
  margin-bottom: 0px !important;
  border-bottom-width: 0px;
  background-color: #000;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  left: 15px;
}

#page_sub_navigation .navigation-wrapper > div {
  padding-top: 15px !important;
  padding-left: 0;
  padding-right: 0;
}

#page_sub_navigation .navigation-wrapper .wpb_raw_code {
  margin-bottom: 15px !important;
  text-align: right;
}

#page_sub_navigation .navigation-wrapper .home-inner-navigation ul li{
  text-align: left;
}

#page_sub_navigation .search-wrapper > div {
  padding-top: 10px!important;
}

#page_sub_navigation .search-wrapper input[type="search"] {
  height: 28px;
  width: 70%;
  border: none;
  text-indent: 10px;
  font-family: 'AvenirNextregular';
  font-style: italic;
  font-size: 15px;
}

/*Intuit Home Navigation*/
.home-inner-navigation ul li {
  display: inline-block;
  width: 32.5%;
  text-align: center;
}

.home-inner-navigation ul li a {
  color: #fff;
  font-family: 'AvenirNextDemi';
  font-size: 15px;
}

/* Search Page */
.un-search-box {
	max-height: 128px;
    overflow-y: hidden;
}

#search_results h2 {
  font-size: 44px;
  font-family: 'GrotesqueMedium';
  padding-top: 30px;
}

#search_results h3 {
  font-size: 28px;
  padding-top: 7px;
  font-family: 'AvenirNextDemi';
}

#search_results h4 {
  font-size: 24px;
  font-family: 'AvenirNextDemi';
  font-weight: normal;
  margin-left: 10px;
  padding-bottom: 0;
}

#search_results p.link {
  font-family: 'AvenirNextDemi';
  font-size: 15px;
}

#search_results p.link a{
  color: #0077c5;
}

#search_results .thumbnail {
  padding: 0;
  border-radius: 0;
  width: 100%;
  border: 0;
}

#search_results .excerpt {
  font-size: 12px;
  line-height: 17px;
  padding-top: 5px;
  font-family: 'AvenirNextRegular';
}

#search_results #keywords {
  padding-bottom: 62px;
}

#search_results span.keyword {
  color: #2ca01c;
  font-family: 'AvenirNextRegular';
  font-size: 28px;
}

#search_results .playable-content:hover:before {
    background-color: rgba(0,0,0,0.6);
}

#search_results .playable-content:before {
	background: no-repeat center center url('../img/player-button.png');
	background-color: rgba(0,0,0,0.3);
	transition: background-color 250ms ease;
	background-size: 55px;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
}

#search_results .playable-content {
	color: rgb(66, 66, 66);
	display: inline-block;
	line-height: 18px;
	position: relative;
}

#search_results .play-img {
	box-sizing: border-box;
	color: rgb(47, 152, 217);
	cursor: auto;
	display: inline;
	line-height: 18px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	vertical-align: baseline;
    margin-bottom: 0;
}

#search_results .thumb-play {
    background: url("../img/video-thumb-overlay.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    height: 90%;
    width: 94%;
}

#search_results .thumb-play:hover {
    background: rgba(0, 0, 0, 0.5) url("../img/video-thumb-overlay.png") no-repeat center center;
    background-size: cover;
}

#home_get_started h3, #footer_free_trial h3{
  font-family: 'AvenirNextDemi';
  font-size: 24px;
  letter-spacing: .2px;
  line-height: 35px;
}

#home_get_started .qb-btn, #footer_free_trial .qb-btn {
  font-family: 'AvenirNextRegular';
  font-size: 22px;
  display: block;
  text-align: center;
  height: 55px;
  padding: 10px;
}

#home_short_videos h2 {
  font-family: 'GrotesqueMedium';
  font-size: 48px;
}

#footer_free_trial h3 {
  margin-top: 15px;
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/** A. HOMEPAGE **/
#hero{height:330px;color:#fff;background:url('../img/hero.jpg') no-repeat center center #329e28}
#hero h1{text-transform:uppercase;margin:35px 0 0;color:#fff;font:63.37px "GrotesqueMedium",Arial,sans-serif;text-align:
center;font-weight:bold;letter-spacing:1.35px}
#hero form{width:100%;max-width:730px;margin:20px auto}
#hero .search-wrap{overflow:hidden}
#hero .search-box{height:58px;padding:9px 18px;color:#111;width:100%}
#hero #searchsubmit{float:right;height:58px;width:58px;background:url('../img/black-search-icon.png') no-repeat #111 center;border:none;overflow:hidden;text-indent:-777px}
#hero p{text-align:center;margin-top:20px;font:20px "AvenirNextDemi", Helvetica, Arial, sans-serif;}
#hero a{color:#fff}


/** B. SINGLE **/
#single #main{}
#single h1{text-transform:uppercase;margin-top:75px}
#instructions a{color:#3a88da;font-weight:bold}
#instructions .heading{border-top:1px solid #303030;padding-top:30px;font-size: 35px;font: 28px "AvenirNextRegular";}

#mobileControl{text-align:center;color:#2c9f1c;margin:20px 0 80px;padding:20px 0;border-top:1px solid #303030}
#mobileControl p{color:#2c9f1c;}

/** ?. VC OVERRIDES **/
.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .wpb_button{margin-bottom:55px !important}
.vc_separator.vc_sep_color_grey .vc_sep_line{border-color:#636363 !important}
.vc_btn3.vc_btn3-color-green.vc_btn3-style-modern{background-color:#2c9f1c;border-color:#2c9f1c;font: 15px "GrotesqueMedium",Arial,sans-serif;padding:6px 17px;border-radius:8px;margin-bottom:20px;color:#fff}

.vc_btn3.vc_btn3-color-green.vc_btn3-style-modern, .vc_btn3.vc_btn3-color-green.vc_btn3-style-modern:hover, .vc_btn3.vc_btn3-color-green.vc_btn3-style-modern:focus {
    color: #ffffff;
    border-color: #329e28 !important;
    background-color: #329e28 !important;
}


/** E. LOOPS **/




/** F. SERP / SEARCH

**/
#search h1{text-transform:uppercase;margin-top:60px}
#task-results{padding-bottom:90px}
#search .loopitem{padding:0;margin:20px 0 60px}
#search .loopitem h3{font-size:17.58px;font-weight:bold;margin-bottom:10px}
#search .loopitem h3 a{color:#303030}
#search .loopitem p{}
#search .loopitem .meta,#search .loopitem .thumb{float:left}
#search .loopitem .meta{margin-left:40px;display:inline-block;width:200px}
#search .loopitem .excerpt{font-size:15.38px}
#search .loopitem .thumb{width:220px;height:120px;}
#search .loopitem .thumb img{width:100%;height:100%;object-fit:cover}
#search .loopitem .thumb a:after{content: url(#);position:absolute;width:220px;height:120px;left:0;
background:url('../img/video-thumb-overlay.png') no-repeat center center;opacity:0.7}
#search .loopitem .thumb a:hover:after{opacity:1}


/** F. VC Widgets

**/
.slick-arrow.slick-disabled{display:none !important}

  .slick-slider{margin-top:20px; outline: 0;}
  /*.slick-track .faded{opacity:.3}*/

  /* Slider */
  .slick-loading .slick-list
  {
    background: #fff url('./../img/ajax-loader.gif') center center no-repeat;
  }

  /* Arrows */
  .slick-prev,
  .slick-next
  {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    display: block;
    width: 42px;
    height: 75px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url('../img/carousel-arrow-right.png') no-repeat;
    z-index:999;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus
  {
    color: transparent;
    outline: none;
    /*background: transparent;*/
  }

  .slick-disabled{opacity:0}

  .slick-prev:hover:before,
  .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before{opacity: 1;}

  .slick-prev.slick-disabled:before,.slick-next.slick-disabled:before{opacity: .0;}

  .slick-prev:before,
  .slick-next:before
  {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #7d7f84;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .slick-prev
  {
    background: url('../img/carousel-arrow-left.png') no-repeat;
    left: 70px;
  }
  [dir='rtl'] .slick-prev
  {
    right: 50px;
    left: auto;
  }
  .slick-prev:before
  {
    content: '';
  }
  [dir='rtl'] .slick-prev:before
  {
    content: '';
  }

  .slick-next
  {
    right: 70px;
  }
  [dir='rtl'] .slick-next
  {
    right: auto;
    left: 50px;
  }
  .slick-next:before
  {
    content: '';
  }
  [dir='rtl'] .slick-next:before
  {
    content: '';
  }


  .slick-arrow{width:150px;height:220px;position:absolute;background:#f6f7f9;z-index:99;top:0}
  .prev-wrap.slick-arrow{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f7f9+0,f6f7f9+100&amp;1+0,1+50,0.7+80,0+100 */
background: -moz-linear-gradient(left,  rgba(246,247,249,1) 0%, rgba(246,247,249,1) 50%, rgba(246,247,249,0.7) 80%, rgba(246,247,249,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(246,247,249,1)), color-stop(50%,rgba(246,247,249,1)), color-stop(80%,rgba(246,247,249,0.7)), color-stop(100%,rgba(246,247,249,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(246,247,249,1) 0%,rgba(246,247,249,1) 50%,rgba(246,247,249,0.7) 80%,rgba(246,247,249,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(246,247,249,1) 0%,rgba(246,247,249,1) 50%,rgba(246,247,249,0.7) 80%,rgba(246,247,249,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(246,247,249,1) 0%,rgba(246,247,249,1) 50%,rgba(246,247,249,0.7) 80%,rgba(246,247,249,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(246,247,249,1) 0%,rgba(246,247,249,1) 50%,rgba(246,247,249,0.7) 80%,rgba(246,247,249,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7f9', endColorstr='#00f6f7f9',GradientType=1 ); /* IE6-9 */

}
  .next-wrap.slick-arrow{right:0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f7f9+0,f6f7f9+100&amp;0+0,0.7+20,1+50,1+100 */
background: -moz-linear-gradient(left,  rgba(246,247,249,0) 0%, rgba(246,247,249,0.7) 20%, rgba(246,247,249,1) 50%, rgba(246,247,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(246,247,249,0)), color-stop(20%,rgba(246,247,249,0.7)), color-stop(50%,rgba(246,247,249,1)), color-stop(100%,rgba(246,247,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(246,247,249,0) 0%,rgba(246,247,249,0.7) 20%,rgba(246,247,249,1) 50%,rgba(246,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(246,247,249,0) 0%,rgba(246,247,249,0.7) 20%,rgba(246,247,249,1) 50%,rgba(246,247,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(246,247,249,0) 0%,rgba(246,247,249,0.7) 20%,rgba(246,247,249,1) 50%,rgba(246,247,249,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(246,247,249,0) 0%,rgba(246,247,249,0.7) 20%,rgba(246,247,249,1) 50%,rgba(246,247,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f6f7f9', endColorstr='#f6f7f9',GradientType=1 ); /* IE6-9 */

  }

/** G. RESPONSIVE
    We try to solve for the most devices (generic) first, then use device targeting for enhancement
**/

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* greater than 1400px display */
@media only screen and (min-width : 1400px) {
  #sidebar{display:block}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1024px) {
  .w960,#ftr-bottom .w960{width:960px}
  .single #sbcnav .lotl{font-size:18px !important}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .melody-signin-links ul{display:none !important}

  .home #sbcnav .lotl{font-size:26px;top:-11px;left:45px}
  .single #sbcnav .lotl{font-size:20px;left:45px}
  /*#sbcnav .meta{margin-top:-5px;padding:0 0 20px 45px}*/
  #slideMenuExtra{padding:0}
  #slideMenuExtra .featd .cat{bottom:20px}

  /* single */
  #single h1{/*margin-top:-350px*/}

}

@media only screen and (max-width : 830px) {
  .melody-signin-links{display:none !important}
}

/* iPad (1-4) in portrait & landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px){
  #globalNavHeader .global-header-resp .logo-quickbooks-185x40 {
    margin-top: 15px;
  }

  header .navhdr-cta-ctnr .ccta.cta-align-center {
    height: 60px !important;
    padding-top: 20px !important;
  }

  #search .search-box{width:587px}

  .slick-prev, .slick-next {top: 32%;}

  #home_search h2 {
    font-size: 32px;
  }

  #home_short_videos h2 {
    font-size: 32px;
  }

  #page_sub_navigation .navigation-wrapper .home-inner-navigation ul li {
    width: 32%;
  }

  #home_get_started h3, #footer_free_trial h3{
    font-size: 19px;
    line-height: 25px;
  }

  #home_get_started .qb-btn, #footer_free_trial .qb-btn {
    font-size: 19px;
    line-height: 1.8;
  }

  #search_results h2 {
    font-size: 32px;
  }

  #search_results h3 {
    font-size: 24px;
  }

  #search_results h4 {
    font-size: 19px;
  }

  footer .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }

  footer .bridge-watercooler-boiler .content-container .ctext ul li:before {
    margin-right: 2px;
    margin-left: 2px;
  }

}

#page_sub_navigation .search-wrapper {
  text-align: right;
}

/*Media query for smartphones*/
@media only screen and (min-width : 320px) and (max-width : 767px) {
  #home_navigation .navigation-wrapper > div {
    padding-top: 15px !important;
  }

  #home_search h2 {
    font-size: 35px;
  }

  #home_search .search-wrapper .vc_column-inner .wpb_wrapper div{
    width: 100%;
  }

  #home_search input[type="search"] {
     width: 74%;
  }

  #home_get_started h3, #footer_free_trial h3{
    text-align: center !important;
    font-size: 19px;
    line-height: 25px;
  }

  #home_get_started .qb-btn, #footer_free_trial .qb-btn {
    font-size: 19px;
    line-height: 1.8;
  }

  .home-inner-navigation ul li {
    width: 32%;
  }

  .home-inner-navigation ul li a {
    font-size: 12px;
  }

  #single a {
    font-size: 15px;
    font-family: 'AvenirNextDemi';
  }

  .next-wrap.slick-arrow,.prev-wrap.slick-arrow{background:none; -ms-transform: scale(0.5,0.5); /* IE 9 */ -webkit-transform: scale(0.5,0.5); /* Safari */ transform: scale(0.4,0.4);}

  .slick-prev, .slick-next {top: 0;}

  #page_sub_navigation .search-wrapper button {
    right: 8px;
  }

  /*#page_sub_navigation .navigation-wrapper > div,*/
  #page_sub_navigation .search-wrapper > div {
    padding-top: 15px!important;
    /*padding-left: 15px;*/
  }

  #page_sub_navigation .search-wrapper:after {
    right: 18px;
  }

  #page_sub_navigation .search-wrapper input[type="search"] {
    display: none;
  }

  #page_sub_navigation .navigation-wrapper .home-inner-navigation ul li {
    width: 31%;
  }

  #search_results h2 {
    font-size: 28px;
  }

  #search_results h3 {
    font-size: 19px;
  }

  #search_results h4 {
    font-size: 19px;
  }

  #search_results p.link {
    font-size: 12px;
  }

  footer #isearch {
    height: auto;
  }

  footer .bridge-watercooler-boiler .content-container .ctext ul li:before {
    content: '';
    margin: 0;
  }

  footer .bridge-watercooler-boiler .content-container .ctext ul li {
    margin-right: 10px;
  }
}


/* Small Devices, Tablets -- portrait iPad
  slide out menu only shows primary nav, not extra content area
 */
@media only screen and (max-width : 768px) {
  #qbnav .melody-nav-links{display:none}

  #ftr-top{padding:40px 20px}
  #ftr-top #isearch,#ftr-top .bridge-site-footer{display:none}
  #ftr-top .bridge-footer-media{text-align:center;border-top:1px solid #ccc;padding-top:20px}
  #ftr-top .footer-icon-global{margin:60px auto -60px;display:block}
  #ftr-top .bridge-watercooler-boiler{border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:45px}
  #ftr-top .bridge-watercooler-boiler .content-container{border-top:0}
  #ftr-bottom .w960{width:300px;margin:0 auto}
  #ftr-bottom .ftr-intuit-logo{width:100px}
  #ftr-bottom .legal{text-align:center}
  #ftr-bottom .ftr-legal-links{position:relative;top:-20px}
  #ftr-bottom .ftr-truste-logo{text-align:center;display:block;float:none;margin:15px auto}
  .w960{width:730px}
}

/* Samsung S3 */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2){

}

/* Samsung S4 */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){

}

/* Samsung S5, HTC One, OnePlus One */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){

}

/* iPhone 2G-4S in portrait & landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* iPhone 5 & 5S in portrait & landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

}

/* iphone 5 landscape */
@media only screen and (max-width : 568px) {

}

/* iPhone 6 in portrait & landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
}


/* Handheld devices */
@media only screen and (max-width : 480px) {

  .w960{width:300px}
  #qbnav .melody-nav-links{display:none}

  /* home */
  #home h2{font-size:22px}
  #hero{height:380px;padding:40px 0}
  #hero h1{font-size:42px}
  #hero a{font-size:17px}
  #hero #searchsubmit{margin-top:0}
  .sm-center *{text-align:center !important}
  .sm-center .wpb_content_element *{line-height:32px}

  /* carousel */
  .qscarousel h4{text-align:center}
  /*.slick-list{margin-left:35px}*/
  .next-wrap.slick-arrow,.prev-wrap.slick-arrow{background:none; -ms-transform: scale(0.5,0.5); /* IE 9 */ -webkit-transform: scale(0.5,0.5); /* Safari */ transform: scale(0.4,0.4);}
  .slick-arrow{width:50px}
  .slick-next{right:-25px}
  .slick-prev{left:-25px}
  .slick-track .faded{opacity:1}

  /* nav */
  #qsnav-sticky-wrapper{position:absolute;width:100%;top:85px}
  #qsnav-sticky-wrapper.is-sticky{position:absolute;width:100%;top:85px}
  #qsnav{}

  /* search page */
  #search .search-box{width:212px}

}

/* All other small screens */
@media only screen and (max-width : 320px) {
  #search .search-box{width:172px}
}